{% if is_granted('ROLE_OPERATION_MANAGER') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.authorization.list', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="Authorizations">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> <sup class="text-warning fw-bold">({{ object.authorizations|length }})</sup>
    </a>
{% endif %}