{% if is_granted('ROLE_SERVICE_WORKER') and object.status == 'open' %}
    {#<a class="btn btn-sm btn-default edit_link" href="{{ path('close_order', {id: object.id}) }}">
        <i class="fa fa-lock" aria-hidden="true"></i> Close Task
    </a>#}

    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    <button type="button" class="btn btn-sm btn-default edit_link" data-toggle="modal" data-target="#modalCloseTask">
        <i class="fa fa-lock" aria-hidden="true"></i> Close Task
    </button>
    {{ macro.createModal(
        'modalCloseTask',
        'Close Task',
        'Are you sure you want to close this task?',
        false,
        true,
        path('close_order', {id: object.id}))
    }}

{% endif %}