{% if is_granted('ROLE_PATIENT_BUNDLE_ADMIN_DIAGNOSIS_PATIENT_LIST') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.diagnosis.patient.list', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'diagnosis.patient'|trans({}, 'BackEndBundle') }}">
        <i class="fa fa-medkit" aria-hidden="true"></i> <sup class="text-warning fw-bold">({{ object.diagnosisEntrys|length }})</sup>
    </a>
{% endif %}