{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.insurance.eligibility.list', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'eligibility.patient'|trans({}, 'BackEndBundle') }}">
        <i class="fa fa-question" aria-hidden="true"></i>
    </a>
{% endif %}