{% if is_granted('ROLE_FRONT_DESK') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.patient|patient.bundle.admin.group.patient.registry.list', { id: object.id }) }}" class="btn btn-sm btn-default edit_link" title="Group Registry">
        <i class="fa fa-users" aria-hidden="true"></i> <sup class="text-warning fw-bold">({{ object.groupPatientRecords|length }})</sup>
    </a>
{% endif %}