{% if is_granted('ROLE_FRONT_DESK') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.patient|patient.bundle.admin.patient.annex.list', { id: object.id }) }}" class="btn btn-sm btn-default edit_link" title="Annexes Forms">
        <i class="fa fa-folder-open" aria-hidden="true"></i> <sup class="text-warning fw-bold">({{ object.annexes|length }})</sup>
    </a>
{% endif %}