{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.registry.patient.list', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'registry.patient'|trans({}, 'BackEndBundle') }}">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
    </a>
{% endif %}