{% if is_granted('ROLE_USER') %}
    <a href="{{ path('show_patient', { id: object.id }) }}" class="btn btn-sm btn-default edit_link" title="Show Summary">
        <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
    </a>
{% endif %}