{% if is_granted('ROLE_OPERATION_MANAGER') %}
    <a href="{{ admin.generateUrl('patient.bundle.admin.task.list', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="Tasks">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
    </a>
{% endif %}