{% extends '@BackEnd/sonata_override/light_layout.html.twig' %}

{% block t %}Finances{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <section class="widget" style="min-height: 41px; padding-bottom: 25px">
            <div class="body">
                <div class="row">
                    {# Patient Select #}
                    <div class="col-sm-4">
                        <label for="select-worker" class="control-label">Patient: </label>
                        <select name="select-patient" id="select-patient" style="width: 80% !important;">
                            <option value="-1">Select Patient</option>
                            {% for patient in patients %}
                                <option value="{{ patient.id }}">{{ patient }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section id="details-patient" class="widget" data-widgster-autoload="false" data-widgster-show-loader="true" style="min-height: 150px">
            <header>
                <h4>Patient</h4>
            </header>
            <div class="body"></div>
        </section>

        <section id="finances-patient" class="widget" data-widgster-autoload="false" data-widgster-show-loader="true" style="min-height: 200px">
            <header>
                <h4>Finances</h4>
                <div class="widget-controls">
                    <a data-widgster="load" title="Refresh" href="#"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </header>
            <div class="body"></div>
        </section>
    </div>

    <script type="text/javascript">
        var $selectPatient;

        $(function () {
            //On load section.
            $('section#finances-patient').on('loaded.widgster', function () {
                initDataTables($('section#finances-patient table'));
                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                });
            });

            $selectPatient = $("#select-patient");
            $selectPatient.change(updateSections());

            if ($selectPatient.select2('val') != '-1'){
                $selectPatient.trigger('change');
            }
        });

        function updateSections(){
            return function () {
                var getPatientDetailsUrl = '{{ path('show_patient_details', { id: '_1' }) }}';
                var patientId = $selectPatient.select2('val');
                getPatientDetailsUrl = getPatientDetailsUrl.replace('_1', patientId);
                var getPatientFinanceUrl = '{{ path('show_patient_finances', { id: '_1' }) }}';
                getPatientFinanceUrl = getPatientFinanceUrl.replace('_1', patientId);
                $('section#details-patient').widgster('load', getPatientDetailsUrl);
                $('section#finances-patient').widgster('load', getPatientFinanceUrl);
            };
        }
    </script>
{% endblock %}