<div class="row">
    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    <div class="col-sm-4">
        <address>
            {{ macro.showCopyField('Fullname', patient.fullname, 'fullname') }}
            {{ macro.showCopyField('form.patient.case.number'|trans({}, 'BackEndBundle'), patient.caseNumber, 'cn') }}
            {{ macro.showCopyField('form.patient.cellphone'|trans({}, 'BackEndBundle'), patient.cellPhone, 'cp') }}

        </address>
    </div>
    <div class="col-sm-4">
        <address>
            {{ macro.showCopyField('Medicare', patient.medicare is not null ? patient.medicare : '', 'medicare') }}
            {{ macro.showCopyField('Medicaid', patient.medicaid is not null ? patient.medicaid : '', 'medicaid') }}
            <p>
                <strong>Last Diagnosis:</strong> <span>{{ patient.getActiveDiagnosis().diagnosisTemplate }}</span>
                {% if patient.getActiveDiagnosis() is null %}
                    <span class="label label-default">Empty</span>
                {% endif %}
            </p>
        </address>
    </div>
    <div class="col-sm-4">
        <address>
            {{ macro.showCopyField('form.patient.age'|trans({}, 'BackEndBundle'), patient.age, 'age') }}
            {{ macro.showCopyField('form.patient.gender'|trans({}, 'BackEndBundle'), patient.gender|trans({}, 'BackEndBundle'), 'gender') }}
            {{ macro.showCopyField('form.patient.status'|trans({}, 'BackEndBundle'), patient.status|trans({}, 'BackEndBundle'), 'status') }}
        </address>
    </div>
</div>