<ul id="tabBillingPatient" class="nav nav-tabs">
    <li class="active"><a href="#billingTabFinance" data-toggle="tab">Billed per client</a></li>
    <li><a href="#explanationFinance" data-toggle="tab">Explanation of payment</a></li>
    {#<li><a href="#totals" data-toggle="tab"> Totals (<strong>{{ actualStats.amountTotal|money }}</strong>)</a></li>#}
</ul>

<div id="tabsBillingPatientContent" class="tab-content">
    <div class="tab-pane fade in active" id="billingTabFinance">
        {% if billingRegistry|length > 0 %}
            {% include '@BackEnd/custom/finance/table_billing_registry.html.twig' %}
        {% else %}
            <p class="text-align-center" style="margin-top: 50px">
                <span class="">No elements to show</span>
            </p>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="explanationFinance">
        {% if payments|length > 0 %}
            {% include '@BackEnd/custom/finance/table_payments.html.twig' %}
        {% else %}
            <p class="text-align-center" style="margin-top: 50px">
                <span class="">No elements to show</span>
            </p>
        {% endif %}
    </div>
</div>