{% set eopAdmin = sonata_pool.getAdminByAdminCode('worker.bundle.admin.explanation.payment') %}
<table class="table table-hover datatable-jquery">
    <thead>
        <tr>
            <th style="width: 100px">Record #</th>
            <th style="width: 100px">Created Date</th>
            <th>HMO</th>
            <th>Units</th>
            <th {#style="width: 150px"#}>Amount</th>
            <th {#style="width: 150px"#}>Total EOP</th>
            <th {#style="width: 150px"#}>Diff</th>
            <th>Auth</th>
            <th>Note or Service</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for br in billingRegistry %}
        <tr>
            <td>{{ br.id }}</td>
            <td>{{ br.createdAt|date('M d, Y') }}</td>
            <td>{{ br.hmo }}</td>
            <td>{{ br.unitsConsumed }}</td>
            <td>{{ br.amount|money }}</td>
            <td>{{ br.getTotalPayment()|money }}</td>
            <td>{{ (br.amount - br.getTotalPayment())|money }}</td>
            <td>{{ br.authorization }}</td>
            <td>{{ br.element }}</td>
            <td>
                <a class="btn btn-sm btn-default" title="Create new EOP in this billing registry" href="{{ eopAdmin.generateUrl('create') ~ '?billingId=' ~ br.id }}">
                    Create EOP
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>