<table class="table table-hover datatable-jquery">
    <thead>
        <tr>
            <th style="width: 100px">Record #</th>
            <th style="width: 100px">Created Date</th>
            <th>Billing Registry</th>
            <th>Payment Number</th>
            <th>Payment Amount</th>
            <th>Reversal Payment Amount</th>
            <th>Interest</th>
        </tr>
    </thead>

    <tbody>
    {% for eop in payments %}
        <tr>
            <td>{{ eop.id }}</td>
            <td>{{ eop.createdAt|date('M d, Y') }}</td>
            <td>{{ eop.billingRegistry }}</td>
            <td>{{ eop.paymentNumber }}</td>
            <td>{{ eop.paymentAmount|money }}</td>
            <td>{{ eop.reversalPaymentAmount|money }}</td>
            <td>{{ eop.interest }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>