{% extends '@BackEnd/base.html.twig' %}

{% block t %}An Error Occurred: {{ status_text }}{% endblock t %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/light-blue/css/application.min.css') }}">
{% endblock %}

{% block body %}
<div class="error-page container">
    <main id="content" class="error-container" role="main">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <div class="error-container">
                    <h1 class="error-code">{{ status_code }}</h1>
                    <p class="error-info">
                        Oops! An Error Occurred. The server returned a "{{ status_code }} {{ status_text }}".
                    </p>
                    <p class="error-help mb">
                        You should contact to IT maintenance.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer">
        2019 &copy; Florida Healthcare System.
    </footer>
</div>

<!-- common templates -->
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>
{% endblock %}