{% extends '@BackEnd/sonata_override/base_list.html.twig' %}

{% block list_table %}
    <div class="col-xs-12">
        <section id="totals" class="widget" style="min-height: 100px">
            <header>
                <h4>Totals</h4>
            </header>
            <div class="body">
                {% set totalUnits = 0 %}
                {% set totalDuration = 0 %}
                {% for service in admin.datagrid.results %}
                    {% set totalUnits = totalUnits + service.getUnitsUsed() %}
                    {% set totalDuration = totalDuration + service.getServiceDurationMin() %}
                {% endfor %}
                <address>
                    <p>
                        <strong>Total Units:</strong> <span>{{ totalUnits }}</span>
                    </p>
                    <p>
                        <strong>Total Duration:</strong> <span>{{ totalDuration }}</span>
                    </p>
                </address>
            </div>
        </section>
    </div>

    {{ parent() }}

    <script type="text/javascript">
        /*var selectWeek = -1;

        $(function () {
            selectWeek = $("#filter_week_value");
            updateSection()();

            //selectWeek.change(updateSection()); // Bind the function
            //selectWeek.change(); // Manual trigger to update categories in Document load.
        });

        function updateSection(){
            return function () {
                var totalsUrl = '{{ path('ajax_show_totals_by_week', { weekId: '_1' }) }}';

                var weekId = selectWeek.select2('val');

                totalsUrl = totalsUrl.replace('_1', weekId);

                $('section#totals').widgster('load', totalsUrl);
            };
        }*/
    </script>
{% endblock %}
