{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="big-text">{{ pager.count() }}</div>
        <div class="description">
            <i class="{{ settings.icon }}"></i>
            {{ settings.text|trans({}, admin.translationDomain) }}
        </div>
    </div>

    {#<!-- small box -->
    <div class="small-box {{ settings.color }}">
        <div class="inner">
            <h3 class="counter">{{ pager.count() }}</h3>

            <p>{{ settings.text|trans({}, admin.translationDomain) }}</p>
        </div>
        <div class="icon">
            <i class="fa {{ settings.icon }}"></i>
        </div>
        <a href="{{ admin.generateUrl('list', {filter: settings.filters}) }}" class="small-box-footer">
            {{ 'stats_view_more'|trans({}, 'SonataAdminBundle') }} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
    </div>#}
{% endblock %}
