<a target="_blank" href="{{ asset(object.getFullPath()) }}" class="btn btn-sm btn-default edit_link" title="{{ 'download.pdf'|trans({}, 'BackEndBundle') }}">
    <i class="fa fa-download" aria-hidden="true"></i> Open/Download
</a>