<section class="widget">
    <div class="body">
        <table class="table table-striped table-hover datatable-jquery">
            <thead>
            <tr>
                <th style="width: 120px">Billing Record ID</th>
                <th>HMO</th>
                <th>Units Consumed</th>
                <th>Note</th>
                <th>Service</th>
                <th>Created At</th>
                <th class="no-sort">Work Week</th>
            </tr>
            </thead>

            <tbody>
            {% for d in desglose %}
                {% set week = null %}
                <tr>
                    <td>
                        <span class="fw-semi-bold">{{ d.id }}</span><br/>
                    </td>
                    <td>
                        <span>{{ d.hmo }}</span><br/>
                    </td>
                    <td>
                        <span>{{ d.unitsConsumed }}</span><br/>
                    </td>
                    <td>
                        {% if d.note is null %}
                            <span class="label label-default">Empty</span>
                        {% else %}
                            <span>{{ d.note }}</span>
                            {% set week = d.note.week %}
                        {% endif %}
                    </td>
                    <td>
                        {% if d.service is null %}
                            <span class="label label-default">Empty</span>
                        {% else %}
                            <span>{{ d.service }}</span>
                            {% set week = d.note.week %}
                        {% endif %}
                    </td>
                    <td>
                        <span>{{ d.createdAt|date('M d, Y') }}</span><br/>
                    </td>
                    <td>
                        <span>{{ week }}</span><br/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        initDataTables();
    });
</script>