{% extends '@BackEnd/sonata_override/base_list.html.twig' %}

{% block list_table %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.showConsume').on('click', function (evt) {
                $('#modalAjaxBaseList .modal-body').html('Loading ...');
                $('#modalAjaxBaseList .modal-title').html('Service Billing Registry');

                var authId = $(this).data('id');
                var url = '{{ path('ajax_view_consume_auth', { id: '_1' }) }}';
                url = url.replace('_1', authId);

                $.get(url, null, function(html){
                    $('#modalAjaxBaseList .modal-body').html(html);
                },"html");
            })
        });
    </script>
{% endblock %}
