{% extends "@FrontEnd/default/template.html.twig" %}
{% block content %}
    <section class="clearfix signUpSection">
        <div class="container">
            <div class="row">
                <div class="signUpFormArea  col-xs-8 padding-bottom-20">
                    <div class="priceTableTitle">
                        <h2>{{ 'app.registration.welcome'|trans({},'app') }}</h2>
                        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }} <a href="{{ path('fos_user_security_login') }}">{{ 'log.in'|trans({},'app') }}</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}