{% extends "@FrontEnd/default/template.html.twig" %}
{% block content %}
    <script type="text/javascript">
        window.location.href = "{{ path('_welcome') }}?confirmed=true";
    </script>
{% endblock %}