{% extends "@FrontEnd/default/template.html.twig" %}

{% block content %}
    <!-- SIGN UP SECTION -->
    <section class="clearfix signUpSection">
        <div class="container">
            <div class="row">

                <div class="signUpFormArea  col-xs-8">
                    <div class="priceTableTitle">
                        <h2>{{ 'app.registration.title'|trans({},'app') }}</h2>
                        <p>{{ 'app.registration.text'|trans({},'app') }} <a href="{{ path('fos_user_security_login') }}">{{ 'app.registration.click'|trans({},'app') }}</a>.</p>
                    </div>

                    <div class="signUpForm">
                        <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register form-horizontal recaptcha-form modern-form" role="form" novalidate>
                            {{ form_widget(form._token) }}
                            <div class="formSection">
                                <h3>{{ 'app.registration.contact.info'|trans({},'app') }} </h3>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        {#<label for="name" class="control-label">{{ 'general.name'|trans({},'BackEndBundle') }}*</label>#}
                                        {{ form_widget(form['name'],{'attr':{'class':'form-control' }}) }}
                                        {#{{ form_errors(form.name) }}#}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="lastName" class="control-label">{{ 'form.user.lastname'|trans({},'BackEndBundle') }}*</label>#}
                                        {{ form_widget(form['lastname'],{'attr':{'class':'form-control' }}) }}
                                        {#{{ form_errors(form.lastname) }}#}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="genderType" class="control-label">{{ 'form.user.gender.type'|trans({},'BackEndBundle') }}*</label>#}
                                        {{ form_widget(form['genderType'],{'attr':{'class':'form-control' }}) }}
                                        {{ form_errors(form.genderType) }}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="email" class="control-label">{{ 'form.list.email.email'|trans({},'BackEndBundle') }}*</label>#}
                                        {{ form_widget(form['email'],{'attr':{'class':'form-control' }}) }}
                                        {#{{ form_errors(form.email) }}#}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="phone" class="control-label">{{ 'general.phone'|trans({},'BackEndBundle') }}</label>#}
                                        {{ form_widget(form['phone'],{'attr':{'class':'form-control' }}) }}
                                        {#{{ form_errors(form.phone) }}#}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="country" class="control-label">{{ 'form.province.country'|trans({},'BackEndBundle') }}</label>#}
                                        {{ form_widget(form['country'],{'attr':{'class':'form-control' }}) }}
                                        {{ form_errors(form.country) }}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="passaport" class="control-label">{{ 'form.user.passaport'|trans({},'BackEndBundle') }}</label>#}
                                        {{ form_widget(form['passaport'],{'attr':{'class':'form-control' }}) }}
                                        {#{{ form_errors(form.passaport) }}#}
                                    </div>
                                    <div class="form-group col-xs-12 margin-top-20">
                                        {#<label for="boletin" class="control-label">{{ 'form.user.boletin'|trans({},'BackEndBundle') }}</label>#}
                                        {#{{ form_widget(form['boletin'],{'attr':{'class':'icheck form-control'}}) }} {{ 'form.user.boletin'|trans({},'BackEndBundle') }}#}
                                        {{ form_widget(form['boletin']) }}
                                        {#{{ form_errors(form.boletin) }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="formSection">
                                <h3>{{ 'app.registration.account.info'|trans({},'app') }} </h3>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="form-group col-xs-12 margin-top-25">
                                            {#<label for="username" class="control-label">{{ 'form.user.username'|trans({},'BackEndBundle') }}*</label>#}
                                            {{ form_widget(form['username'],{'attr':{'class':'form-control' }}) }}
                                            {#{{ form_errors(form.username) }}#}
                                        </div>
                                        <div class="form-group col-xs-12 margin-top-20">
                                            {#<label for="password" class="control-label">{{ 'form.user.password'|trans({},'BackEndBundle') }}*</label>#}
                                            {{ form_widget(form['plainPassword']['first'],{'attr':{'class':'form-control' }}) }}
                                            {#{{ form_errors(form['plainPassword']['first']) }}#}
                                        </div>
                                        <div class="form-group col-xs-12 margin-top-20">
                                            {#<label for="confirmPassword" class="control-label">{{ 'form.user.password.confirm'|trans({},'BackEndBundle') }}*</label>#}
                                            {{ form_widget(form['plainPassword']['second'],{'attr':{'class':'form-control' }}) }}
                                            {#{{ form_errors(form['plainPassword']['second']) }}#}
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group col-xs-12">
                                            <label for="photo" class="control-label margin-bottom-5 padding-top-0">{{ 'block.user.photo'|trans({},'BackEndBundle') }}</label>
                                            {% form_theme form 'form_div_layout.html.twig' %}
                                            {{ form_widget(form['mediaFile'],{'attr':{'class':'form-control' }}) }}
                                            {{ form_errors(form.mediaFile) }}
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="formSection">
                                {#<h3>{{ 'app.security.control'|trans({}, 'app') }}</h3>#}
                                <div class="row">
                                    {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
                                    {{ form_widget(form.recaptcha) }}
                                    {#<div class="form-group col-xs-12">#}
                                        {#<label for="usernames" class="control-label">{{ 'app.registration.confirm.human'|trans({},'app') }}*</label>#}
                                    {#</div>#}
                                    <div class="form-group col-xs-12 mb0">
                                        <button id="register-submit" type="submit" class="btn btn-primary">{{ 'app.registration.submit.button'|trans({},'app') }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}