<section class="widget widget-tabs">
    <header>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#workers" data-toggle="tab" aria-expanded="false">Workers</a>
            </li>

            {#<li class="">
                <a href="#report" data-toggle="tab" aria-expanded="true">Favorites</a>
            </li>

            <li>
                <a href="#dropdown1" data-toggle="tab">Commenters</a>
            </li>#}
        </ul>
    </header>

    <div class="body tab-content" style="height: 417px !important; overflow: inherit;">
        {% set workers = d.getRepository('CoreBundle:User').findAll() %}
        <div id="workers" class="tab-pane active clearfix myScroll" data-h="385">
            {#<h5 class="tab-header"><span class="label label-primary"></span> Last logged-in users</h5>#}
            <ul class="news-list">
                {% for worker in workers %}
                    <li style="margin: auto; padding-left: 0">
                        <img src="{{ asset(worker.avatar) }}" alt="" class="pull-left img-circle">
                        <div class="news-item-info">
                            <div class="name"><a href="#">{{ worker.fullname }}</a></div>
                            <div class="position">{{ worker.getTranslateRol()|lower }}</div>
                            <div class="time">Last logged-in: {{ worker.lastLogin|date('M d, H:i') }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>