
<div class="col-md-2 col-sm-4 col-xs-6">
    <a class="no-link" href="{% if href is defined %}{{ href }}{% endif %}">
    <div class="box">
        <div class="big-text">
            {{ count }}
        </div>
        <div class="description">
            {#<i class="{{ icon }}"></i>#}
            {{ text }}
        </div>
    </div>
    </a>
</div>
