{% set pendingPatients = d.getRepository('PatientBundle:Patient').getPendingForTasks() %}
<div class="widget-table-overflow myScroll" data-h="800">
    <table class="table table-striped table-lg mt-sm mb-0 sources-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Intake Type</th>
            <th>Insurance</th>
            <th>Date Admitted</th>
        </tr>
        </thead>
        <tbody>
        {% for p in pendingPatients %}
            <tr>
                <td><a href="{{ path('show_patient', { id:p.id }) }}" style="padding-left: 8px">{{ p.fullname }}</a></td>
                <td>
                    {% for it in p.intakeTypes %}
                        <span class="label label-inverse">{{ it|trans({}, 'BackEndBundle') }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if p.medicare %}
                        <p class="no-margin">
                            <small>
                                <span class="fw-semi-bold">Medicare:</span>
                                <span class="text-muted">&nbsp; {{ p.medicare.hmo }}</span>
                            </small>
                        </p>
                    {% endif %}

                    {% if p.medicaid %}
                        <p>
                            <small>
                                <span class="fw-semi-bold">Medicaid:</span>
                                <span class="text-muted">&nbsp; {{ p.medicaid.hmo }}</span>
                            </small>
                        </p>
                    {% endif %}
                </td>
                <td>{{ p.openDate|date('M d, Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>