<div class="widget-table-overflow myScroll" data-h="800">
    <table class="table table-striped table-lg mt-sm mb-0 sources-table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Created At</th>
            <th>Patient</th>
            <th>Assigned By</th>
            <th>Service</th>
        </tr>
        </thead>
        <tbody>
        {% for t in tasks %}
            <tr>
                <td><span style="margin-left:8px" class="label label-inverse">{{ t.id }}</span></td>
                <td>{{ t.createdAt|date('M d, Y') }}</td>
                <td>
                    <a href="{{ path('show_patient', { id: t.patient.id }) }}">
                        {{ t.patient.fullname }}
                    </a>
                </td>
                <td>
                    {{ t.createdBy }}
                </td>
                <td>
                    <span class="label label-inverse">{{ t.serviceParent }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>