<section class="widget" style="height: 802px">
    {#<header>
        <h5><i class="fa fa-arrow-down"></i></h5>
    </header>#}
    <div class="body">

        <ul id="myTab" class="nav nav-tabs">
            {% if is_granted('ROLE_OPERATION_MANAGER') %}<li class="active"><a href="#pending-patients" data-toggle="tab">Pending for Tasks</a></li>{% endif %}
            <li><a href="#open-tasks" data-toggle="tab">Open Tasks</a></li>
            <li><a href="#close-tasks" data-toggle="tab">Closed Tasks</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            {% if is_granted('ROLE_OPERATION_MANAGER') %}
            <div class="tab-pane fade in active" id="pending-patients" style="max-height: 725px">
                {% include '@BackEnd/dashboard_structures/table_pending_patients.html.twig' %}
            </div>
            {% endif %}

            <div class="tab-pane fade" id="open-tasks" style="max-height: 725px">
                {% set tasks = d.getRepository('PatientBundle:Task').getTasks(app.user, 'open') %}
                {% include '@BackEnd/dashboard_structures/table_tasks.html.twig' %}
            </div>

            <div class="tab-pane fade" id="close-tasks" style="max-height: 725px">
                {% set tasks = d.getRepository('PatientBundle:Task').getTasks(app.user, 'close') %}
                {% include '@BackEnd/dashboard_structures/table_tasks.html.twig' %}
            </div>
        </div>
    </div>
</section>

{% if not is_granted('ROLE_OPERATION_MANAGER') %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[href="#open-tasks"]').tab('show');
        })
    </script>
{% endif %}