<section class="widget large">
    <header>
        <h4><i class="fa fa-wheelchair"></i> Patient Chart</h4>
    </header>
    <div class="body">
        <div id="sources-chart-pie" class="chart pie-chart">
            <svg></svg>
        </div>
    </div>
    <footer id="data-chart-footer" class="pie-chart-footer">
    </footer>
</section>

<script>
    $(document).ready(function(){
        var testData = [];
        //var pieSelect = d3.select("#sources-chart-pie");
        var pieFooter = d3.select("#data-chart-footer");
        var pieChart = null;

        function pieChartUpdate(d){
            d.disabled = !d.disabled;
            d3.select(this)
                    .classed("disabled", d.disabled);
            if (!pieChart.pie.values()(testData).filter(function(d) { return !d.disabled }).length) {
                pieChart.pie.values()(testData).map(function(d) {
                    d.disabled = false;
                    return d;
                });
                pieFooter.selectAll('.control').classed('disabled', false);
            }
            d3.select("#sources-chart-pie svg").transition().call(pieChart);
        }

        nv.addGraph(function() {

            testData.push({
                'key': 'Pending (Inactive)',
                'y': {{ d.getRepository('PatientBundle:Patient').getPendingPatients()|length }}
            });

            testData.push({
                'key': 'Pending Assignation',
                'y': {{ d.getRepository('PatientBundle:Patient').getPendingForTasks()|length }}
            });

            testData.push({
                'key': 'Open (In treatment)',
                'y': {{ d.getRepository('PatientBundle:Patient').getOpenPatients()|length }}
            });

            testData.push({
                'key': 'Close (Discharge)',
                'y': {{ d.getRepository('PatientBundle:Patient').getClosePatients()|length }}
            });

            var chart = nv.models.pieChartTotal()
                    .x(function(d) {return d.key })
                    .margin({top: 0, right: 20, bottom: 20, left: 20})
                    .values(function(d) {return d })
                    .color(COLOR_VALUES)
                    .showLabels(false)
                    .showLegend(false)
                    .tooltipContent(function(key, y, e, graph) {
                        return '<h4>' + key + '</h4>' +
                                '<p>' +  y + '</p>'
                    })
                    .total(function(count){
                        //return "<div class='visits'>" + count + "<br/> Patients </div>"
                        return "<div class='visits'>Patients </div>"
                    })
                    .donut(true);
            chart.pie.margin({top: 10, bottom: -20});

            var sum = d3.sum(testData, function(d){
                return d.y;
            });
            pieFooter
                    .append("div")
                    .classed("controls", true)
                    .selectAll("div")
                    .data(testData)
                    .enter().append("div")
                    .classed("control", true)
                    .style("border-top", function(d, i){
                        return "3px solid " + COLOR_VALUES[i];
                    })
                    .html(function(d) {
                        return "<div class='key'>" + d.key + "</div>"
                                + "<div class='value'>" + Math.floor(100 * d.y / sum) + "%</div>";
                    })
                    .on('click', function(d) {
                        pieChartUpdate.apply(this, [d]);
                        setTimeout(function() {
                            stackedChart.update();
                            lineChart.update();
                            barChart.update();
                        }, 100);
                    });

            d3.select("#sources-chart-pie svg")
                    .datum([testData])
                    .transition(500).call(chart);
            PjaxApp.onResize(chart.update);

            pieChart = chart;

            return chart;
        });
    });
</script>