{% set serviceAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.service') %}
{% for service in note.services %}
    <div class="row servicesModal" style="margin-bottom: 8px">
        <div class="col-xs-3" >
            <a href="{{ serviceAdmin.generateObjectUrl('show', service) }}">{{ service }}</a>
        </div>
        <div class="col-xs-2">
            <span title="Start Time">{{ service.scheduleStart|date('h:i a') }}</span>
        </div>
        <div class="col-xs-2">
            <span title="End Time">{{ service.scheduleEnd|date('h:i a') }}</span>
        </div>
        <div class="col-xs-2">
            {{ service.presence|trans({}, 'BackEndBundle') }}
        </div>
        <div class="col-xs-3">
            <span title="Duration">{{ service.serviceDurationMin }} minutes</span>
        </div>
    </div>
{% endfor %}