<section class="widget" style="min-height: 41px; padding-bottom: 25px">
    <header>
        <h3 class="page-title-widget">
            {{ type|trans({}, 'BackEndBundle')|upper }} Billing
        </h3>

        <div class="widget-controls">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Actions <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a target="_blank" id="workerTimeSheet" class="sonata-action-element cursor-blocked">
                                <i class="fa fa-list" aria-hidden="true"></i> Worker Timesheet.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="body">
        <div class="row">
            {# Workers Select #}
            <div class="col-sm-4">
                <label for="select-worker" class="control-label">{{ type|trans({}, 'BackEndBundle')|upper }}:</label>
                <select name="select-worker" id="select-worker" style="width: 80% !important;">
                    <option value="-1">Select Worker</option>
                    {% for worker in workers %}
                        <option value="{{ worker.id }}">{{ worker }} [{{ worker.workerNumber }}]</option>
                    {% endfor %}
                </select>
            </div>

            {# Weeks #}
            <div class="col-sm-5">
                <label for="select-week" class="control-label">Working Week: </label>
                <select name="select-week" id="select-week" style="width: 70% !important;">
                    {% for week in weeks %}
                        <option value="{{ week.id }}" {% if loop.first %}selected="selected"{% endif %}>{{ week }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</section>