{#<div class="loader animated fadeIn handle ui-sortable-handle">
    <span class="spinner">
        No result
    </span>
</div>#}

<table class="table {#table-striped#} table-hover datatable-jquery">
    <thead>
    <tr>
        <th style="width: 120px">Case Number</th>
        <th style="width: 150px">Full Name</th>
        <th>Medicare</th>
        <th>Medicaid</th>
        <th>Diagnosis</th>
        <th>Age</th>
    </tr>
    </thead>

    <tbody>
    {% for patient in patients %}
        <tr data-patient-id="{{ patient.id }}" class="cursor-pointer">
            <td>
                {{ patient.caseNumber }}
            </td>
            <td>
                <span class="fw-semi-bold"><a target="_blank" href="{{ path('show_patient', { id: patient.id }) }}">{{ patient.fullname }}</a></span>
            </td>
            <td>
                {{ patient.medicare }}
                {% if patient.medicare is null %}<span class="label label-default empty-field">empty</span>{% endif %}
            </td>
            <td>
                {{ patient.medicaid }}
                {% if patient.medicaid is null %}<span class="label label-default empty-field">empty</span>{% endif %}
            </td>
            <td>
                {{ patient.diagnosisString }}
                {% if patient.activeDiagnosis is null %}<span class="label label-default empty-field">empty</span>{% endif %}
            </td>
            <td>
                {{ patient.age }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>