<ul id="tabsBillingTcm" class="nav nav-tabs">
    <li class="active"><a href="#services" data-toggle="tab"> Services (Total Amount: <strong>{{ actualStats.amountTotal|money }}</strong>)</a></li>
    <li><a href="#billingZero" data-toggle="tab"> Billing Zero</a></li>
    <li><a href="#totals" data-toggle="tab"> Totals</a></li>
</ul>

<div id="tabsBillingTcmContent" class="tab-content">
    <div class="tab-pane fade in active" id="services">
        {% include '@BackEnd/custom/billing/table_services.html.twig' with { services: allServices } %}
    </div>

    <div class="tab-pane fade" id="billingZero">
        {% include '@BackEnd/custom/billing/table_services.html.twig' with { services: billingZeroServices } %}
    </div>

    <div class="tab-pane fade" id="totals">
        {% include '@BackEnd/custom/billing/totals.html.twig' %}
    </div>
</div>