<ul id="tabsBillingTcm" class="nav nav-tabs">
    <li class="active"><a href="#services" data-toggle="tab"> Services</a></li>
    {% if is_granted('ROLE_BILLING') %}
        <li><a href="#billingZero" data-toggle="tab"> Billing Zero</a></li>
        <li><a href="#totals" data-toggle="tab"> Totals (<strong>{{ actualStats.amountTotal|money }}</strong>)</a></li>
    {% endif %}
</ul>

<div id="tabsBillingTcmContent" class="tab-content">
    <div class="tab-pane fade in active" id="services">
        {% include '@BackEnd/custom/billing/table_notes.html.twig' with { notes: allNotes } %}
    </div>

    {% if is_granted('ROLE_BILLING') %}
        <div class="tab-pane fade" id="billingZero">
            {% include '@BackEnd/custom/billing/table_notes.html.twig' with { notes: billingZeroNotes } %}
        </div>

        <div class="tab-pane fade" id="totals">
            {% include '@BackEnd/custom/billing/totals.html.twig' %}
        </div>
    {% endif %}
</div>

{#MODAL AJAX#}
<div id="modalAjaxNotes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Services contained in note</h4>
            </div>

            {#Ajax content go here#}
            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.showServices').on('click', function (evt) {
            $('#modalAjaxNotes .modal-body').html('Loading ...');

            var noteId = $(this).data('note');
            var url = '{{ path('ajax_view_services_note', { noteId: '_1' }) }}';
            url = url.replace('_1', noteId);

            $.get(url, null, function(html){
                $('#modalAjaxNotes .modal-body').html(html);
            },"html");
        })
    });
</script>