{% extends '@BackEnd/sonata_override/light_layout.html.twig' %}

{% block t %}{{ type|trans({}, 'BackEndBundle')|upper }} Billing{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {% include '@BackEnd/custom/billing/menu_billing.html.twig' %}

        <section id="billing-patients" class="widget" data-widgster-autoload="false" data-widgster-show-loader="true" style="min-height: 200px">
            <header>
                <h4>Patients</h4>
                <div class="widget-controls">
                    <a data-widgster="load" title="Refresh" href="#"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </header>
            <div class="body"></div>
        </section>

        <section id="billing-services" class="widget" data-widgster-autoload="false" data-widgster-show-loader="true" style="min-height: 200px">
            <header>
                <h4>Services for Billing</h4>
                <div class="widget-controls">
                    <a data-widgster="load" title="Refresh" href="#"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </header>
            <div class="body"></div>
        </section>
    </div>

    <script type="text/javascript">
        var selectWorker, selectWeek;

        $(document).ready(function () {
            selectWorker = $("#select-worker");
            selectWeek = $("#select-week");

            selectWeek.change(updateSections()); // Bind the function
            {% if is_granted('ROLE_BILLING') %}
            selectWorker.change(updateSections()); // Bind the function
            selectWorker.change(); // Manual trigger to update categories in Document load.
            {% endif %}

            //On load only section patients.
            $('section#billing-patients').on('loaded.widgster', function () {
                initDataTables($('section#billing-patients table'));

                //On click row refresh services
                $('section#billing-patients table.dataTable tr').on('click', function () {
                    var patientId = $(this).data('patient-id');
                    updateSectionServices(patientId);
                    $('table.dataTable tr').removeClass('clicked');
                    $(this).addClass('clicked');
                })
            });

            //On load only section services.
            $('section#billing-services').on('loaded.widgster', function () {
                initDataTables($('section#billing-services table'));
                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                });
            });

            {% if not is_granted('ROLE_BILLING') %}
                selectWorker.select2('val', [{{ app.user.id }}]);
                selectWorker.select2('readonly', true);
                updateSections()();
            {% endif %}
        });

        function updateSections(){
            return function () {
                var patientsUrl = '{{ path('ajax_show_billing_patients', { type: type, weekId: '_1', workId: '_2' }) }}';

                var workerId = selectWorker.select2('val');
                var weekId = selectWeek.select2('val');

                patientsUrl = patientsUrl.replace('_1', weekId);
                patientsUrl = patientsUrl.replace('_2', workerId);

                $('section#billing-patients').widgster('load', patientsUrl);

                updateSectionServices(-1);

                var bWorkerTimeSheet = $('a#workerTimeSheet');
                if(workerId != -1 && weekId != -1){
                    bWorkerTimeSheet.removeClass('cursor-blocked').addClass('cursor-pointer');
                    {% set path = 'generate_time_sheet_tcm'  %}
                    {% if type != 'tcm'  %}{% set path = 'generate_time_sheet_cmh'  %}{% endif %}
                    var timeSheetUrl = '{{ path(path, { weekId: '_1', workerId: '_2' }) }}';
                    timeSheetUrl = timeSheetUrl.replace('_1', weekId);
                    timeSheetUrl = timeSheetUrl.replace('_2', workerId);
                    bWorkerTimeSheet.attr('href', timeSheetUrl);
                } else {
                    bWorkerTimeSheet.removeClass('cursor-pointer').addClass('cursor-blocked');
                    bWorkerTimeSheet.removeAttr('href');
                }
            };
        }

        function updateSectionServices(patientId){
            var servicesUrl = '{{ path('ajax_show_billing_services_'~type, { weekId: '_1', workId: '_2', patientId: '_3' }) }}';

            var workerId = selectWorker.select2('val');
            var weekId = selectWeek.select2('val');

            servicesUrl = servicesUrl.replace('_1', weekId);
            servicesUrl = servicesUrl.replace('_2', workerId);
            servicesUrl = servicesUrl.replace('_3', patientId);

            $('section#billing-services').widgster('load', servicesUrl);
        }
    </script>
{% endblock %}