{% if isBilleable %}
    {% if not value and ( (isBilled is defined and isBilled) or isBilled is not defined ) %}
        <button data-toggle="modal"
                data-target="#modal{{ property }}{{ id }}"
                id="switch-label{{ id }}" data-service-id="{{ id }}"
                class="cursor-pointer btn btn-sm btn-default edit_link"
                style="height: 20px; padding: 0 6px">
            {{ value|toString }}
        </button>

        <div id="modal{{ property }}{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Confirm action</h4>
                    </div>

                    <div class="modal-body">
                        Are you sure you want to perform this action? <strong>This operation can not be undone.</strong>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="button{{ property }}{{ id }}" type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#button{{ property }}{{ id }}').on('click', function (evt) {
                    var serviceUrl = '{{ path('ajax_toggle_billing_property', { property: property, objectType: objectType, objectId: '_1' }) }}';
                    serviceUrl = serviceUrl.replace('_1', '{{ id }}');

                    showLoader();
                    $.post(serviceUrl, null, function(data){
                        $('section#billing-services').widgster('load');
                        hideLoader();
                    }, "text");
                });

            });
        </script>
    {% else %}
        {% set type = value ? 'success' : 'important' %}
        <span class="cursor-blocked label label-{{ type }}">{{ value|toString }}</span>
    {% endif %}
{% else %}
    <span class="cursor-blocked label label-inverse">{{ value|toString }}</span>
{% endif %}