<table class="table table-hover datatable-jquery">
    <thead>
    <tr>
        <th style="width: 170px">Note & Date</th>
        <th>Code</th>
        <th>Patient</th>
        <th style="width: 150px">Totals</th>
        {% if is_granted('ROLE_BILLING') %}
            <th>Amount</th>{% endif %}
        <th>Insurance</th>
        <th>Diagnosis</th>
        <th>Billed</th>
        <th>Payed</th>
        <th class="no-sort"></th>
    </tr>
    </thead>

    <tbody>
    {% for note in notes %}
        <tr {% if note.billingZero %}class="billingZero"{% endif %}>
            <td>
                <span class="fw-semi-bold">
                    <a target="_blank" href="{{ asset(note.fullPath) }}">Note #{{ note.id }}</a>
                </span>
                <br/>
                Contains: <strong>{{ note.services|length }}</strong> service(s)
                <br/>
                {{ note.serviceDate|date('M d, Y') }}
            </td>
            <td>{{ note.fullServiceCode }}</td>
            <td>
                <span class="fw-semi-bold">
                    <a title="{{ note.patient.titlePreview }}" target="_blank"
                       href="{{ path('show_patient', {id: note.patient.id}) }}">{{ note.patient }}</a>
                </span>
            </td>
            <td>
                <span class="fw-semi-bold">Time: </span>{{ note.time }} min <br/>
                {% if is_granted('ROLE_BILLING') %}
                    <span class="fw-semi-bold">Units: </span>{{ note.units }}
                {% endif %}
            </td>
            {% if is_granted('ROLE_BILLING') %}
                <td>
                    <span {% if note.billingZero %}class="lineMiddle"{% endif %}>
                        <strong>{{ note.amount|money }}</strong>
                    </span>
                    {% if note.billingZero %}
                        <strong>({{ 0|money }})</strong>
                    {% endif %}
                </td>
            {% endif %}
            <td>
                <span class="fw-semi-bold">{{ note.hmo }}</span>
            </td>
            <td>
                {{ note.diagnosisTemplate }}
            </td>
            <td>
                {% include '@BackEnd/custom/billing/swith_boolean_billing.html.twig' with {
                    value: note.billed,
                    property: 'billed',
                    objectType: 'note',
                    id: note.id,
                    isBilleable: note.isBillable()
                } %}
            </td>
            <td>
                {% include '@BackEnd/custom/billing/swith_boolean_billing.html.twig' with {
                    value: note.payed,
                    property: 'payed',
                    objectType: 'note',
                    id: note.id,
                    isBilleable: note.isBillable(),
                    isBilled: note.billed
                } %}
            </td>
            <td>
                <button data-note="{{ note.id }}" class="showServices btn btn-sm btn-default edit_link"
                        title="Show Services" data-toggle="modal" data-target="#modalAjaxNotes">
                    <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>