<table class="table {#table-striped#} table-hover datatable-jquery">
    <thead>
    <tr>
        <th style="width: 100px">Date</th>
        <th>Patient</th>
        <th style="width: 120px">Service</th>
        <th>Note</th>
        <th>Duration</th>
        <th>Units</th>
        <th>Amount</th>
        <th>Insurance</th>
        <th>Diagnosis</th>
        <th>Billed</th>
        <th>Payed</th>
    </tr>
    </thead>

    <tbody>
    {% for service in services if not service.discharge %}
        <tr {% if service.billingZero %}class="billingZero"{% endif %}>
            <td>
                {{ service.serviceDate|date('M d, Y') }}
            </td>
            <td>
                <span class="fw-semi-bold" title="{{ service.patient.titlePreview }}">
                    <a target="_blank" href="{{ path('show_patient', {id: service.patient.id}) }}">{{ service.patient }}</a>
                </span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ service.getFullServiceCode() }}</span><br/>
                Record #: <strong>{{ service.id }}</strong>
            </td>
            <td>
                {% if service.note is not null %}
                    <span class="fw-semi-bold"><a target="_blank" href="{{ asset(service.note.fullPath) }}">{{ service.note }}</a></span>
                {% else %}
                    <span class="label label-default empty-field">empty</span>
                {% endif %}
            </td>
            <td>
                {{ service.serviceDurationMin }} min
            </td>
            <td>
                {{ service.unitsUsed }}
            </td>
            <td>
                <span {% if service.billingZero %}class="lineMiddle"{% endif %}>
                    <strong>{{ service.amount|money }}</strong>
                </span>
                {% if service.billingZero %}
                    <strong>({{ 0|money }})</strong>
                {% endif %}
            </td>
            <td>
                <span class="fw-semi-bold">{{ service.hmo }}</span>
            </td>
            <td>
                {{ service.diagnosisTemplate }}
                {% if service.diagnosisTemplate is null %}
                    <span class="label label-default empty-field">empty</span>
                {% endif %}
            </td>
            <td>
                {% include '@BackEnd/custom/billing/swith_boolean_billing.html.twig' with {
                    value: service.billed,
                    property: 'billed',
                    objectType: 'service',
                    id: service.id,
                    isBilleable: service.isBillable()
                } %}
            </td>
            <td>
                {% include '@BackEnd/custom/billing/swith_boolean_billing.html.twig' with {
                    value: service.payed,
                    property: 'payed',
                    objectType: 'service',
                    id: service.id,
                    isBilleable: service.isBillable(),
                    isBilled: service.billed
                } %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>