<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var pdfInfo = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=',2);
                pdfInfo[z[0]] = unescape(z[1]);
            }
            function getPdfInfo() {
                var page = pdfInfo.page || 1;
                var pageCount = pdfInfo.topage || 1;
                document.getElementById('pagination').textContent = 'Page ' + page + ' of ' + pageCount;
            }
        </script>
    </head>

    <body onload="getPdfInfo();">
        <span style="min-width: 200px; float:left; margin-top: 10px;">{{ now|date('F d, Y') }}</span>
        <span id="pagination" style="text-align: right; min-width: 150px; float:right; margin-top: 10px;">asd</span>
    </body>
</html>