<table class="table datatable-jquery">
    <thead>
    <tr>
        <th>Insurance</th>
        <th>Total Units</th>
        <th>Billed Units</th>
        <th>Payed Units</th>
        <th>Amount</th>
        <th>Billed Amount</th>
        <th>Payed Amount</th>
        <th>%</th>
    </tr>
    </thead>

    <tbody>
    {% for hmo in actualStats.insurances %}
        <tr>
            <td>
                {{ hmo }}
            </td>
            <td>
                <strong>{{ actualStats['desglose'][hmo.id]['units'] }}</strong>
            </td>
            <td>
                <strong>{{ actualStats['desglose'][hmo.id]['unitsBilled'] }}</strong>
            </td>
            <td>
                <strong>{{ actualStats['desglose'][hmo.id]['unitsPayed'] }}</strong>
            </td>
            <td>
                <strong>{{ actualStats['desglose'][hmo.id]['amount']|money }}</strong>
            </td>
            <td>
                <strong>{{ actualStats['desglose'][hmo.id]['amountBilled']|money }}</strong>
            </td>
            <td>
                <strong>{{ actualStats['desglose'][hmo.id]['amountPayed']|money }}</strong>
            </td>
            <td>
                {% set percent = actualStats['desglose'][hmo.id]['percent'] %}
                <strong class="color-{% if percent < 100 %}orange{% else %}green{% endif %}">{{ percent|number_format(2) }}%</strong>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>