<button type="button" {% if object.patients|length == 0 %}disabled="disabled"{% endif %} class="btn btn-sm btn-default edit_link" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-users" aria-hidden="true"></i> Members <sup class="text-warning fw-bold">({{ object.patients|length }})</sup>
</button>

{% if object.patients|length > 0 %}
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Members of Group {{ object }}</h4>
                </div>

                <div class="modal-body">
                    <table class="members">
                        {% for patient in object.patients %}
                            <tr>
                                <td>
                                    {{ patient.caseNumber }}
                                </td>
                                <td>
                                    <a href="{{ path('show_patient', { id: patient.id }) }}">{{ patient.fullname }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                {#<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>#}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endif %}