{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_one.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value is not null %}
            <span>{{ value|render_relation_element(field_description) }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}