{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_one.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value is not null %}
            {% if object.label != 'menu.entity.patient' %}
                {% set id = object.patient.id  %}
            {% else %}
                {% set id = object.id %}
            {% endif %}
            <a href="{{ path('show_patient', {id: id, tab: 'eligibilityPatient'}) }}">{{ value }}</a>
        {% endif %}
    {% endspaceless %}
{% endblock %}