{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_one.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value is not null %}
            <a title="{{ value.titlePreview }}" href="{{ path('show_patient', {id: value.id}) }}">{{ value|render_relation_element(field_description) }}</a>
        {% endif %}
    {% endspaceless %}
{% endblock %}