{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_many.html.twig' %}

{% block field %}
    {% spaceless %}
        <ul>
            {% spaceless %}
                {% for element in value%}
                    <li><i class="fa fa-circle liDot"></i> {{ element }}</li>
                {% endfor %}
            {% endspaceless %}
        </ul>
    {% endspaceless %}
{% endblock %}