{% extends '@SonataAdmin/CRUD/list_string.html.twig' %}

{% block field %}
    {% spaceless %}
        <a title="{{ object.titlePreview }}" href="{{ path('show_patient', {id: object.id}) }}">{{ value }}</a>
    {% endspaceless %}
{% endblock %}