{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_many.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value|length == 0 %}
            <span class="label label-default">empty</span>
        {% endif %}
        {% for form in value %}
            <a target="_blank" href="{{ asset(form.fullPath) }}">[Code {{ form.id }}] {{ form.name }}</a><br/>
        {% endfor %}
    {% endspaceless %}
{% endblock %}