{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_one_to_many.html.twig' %}

{% block field %}
    {% spaceless %}
        {% set thereAre = '0' %}
        {% for auth in value if auth.active %}
            <div class="key">{% for sc in auth.serviceCodes %}[{{ sc }}] {% endfor %}</div>
            <div class="stat" title="{{ auth.getTitlePreview() }}">
                <div class="info">{{ auth.unitsConsumed }} / {{ auth.unitsApproved }} (RU: {{ auth.getRemainedUnits() }})</div>
                <div class="progress progress-small" style="width: 170px">
                    <div class="progress-bar {% if auth.percent > 50 and auth.percent < 80%}progress-bar-warning{% endif %} {% if auth.percent >= 80%}progress-bar-danger{% endif %}" style="width: {{ auth.percent }}%;"></div>
                </div>
            </div>
            {% set thereAre = '1' %}
        {% endfor %}
        {% if thereAre == '0' %}
            <p style="margin-top: 10px">
                <span class="">No authorizations active</span>
            </p>
        {% endif %}
    {% endspaceless %}
{% endblock %}