{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_one.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value is not null %}
            <span class="{{ value.classCss }}">{{ value|trans({}, 'BackEndBundle') }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}