{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_many.html.twig' %}

{% block field %}
    {% spaceless %}
        <span>
            {% spaceless %}
                {% for element in value%}
                    {{ element|trans({}, 'BackEndBundle') }} {% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endspaceless %}
        </span>
    {% endspaceless %}
{% endblock %}