{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_one_to_many.html.twig' %}

{% block field %}
    {% spaceless %}
        {% set thereAre = 'no' %}
        <ul>
            {% for form in value %}
                <li style="min-width: 60px">
                    {% set canEdit = object.worker == app.user and not object.revised %}
                    {% set path = path('service_form_viewer', { idServiceForm: form.id })  %}
                    <a target="_blank"
                       href="{% if canEdit %}{{ path }}{% else %}{{ asset(form.fullPath) }}{% endif %}"
                       style="color: {% if not form.filled %}orangered{% else %}#57b955{% endif %}"
                       title="{% if not form.filled %}Not Filled{% endif %}">
                        <strong>{{ form.name }}</strong>
                    </a>
                </li>
                {% set thereAre = 'yes' %}
            {% endfor %}

            {% if object.note is not null %}
                <li style="min-width: 60px">
                    <i class="fa fa-check"></i>
                    <a target="_blank" href="{{ asset(object.note.fullPath) }}"> {{ object.note }}</a>
                </li>
                {% set thereAre = 'yes' %}
            {% endif %}
        </ul>

        {% if thereAre == 'no' %}
            <span class="label label-default empty-field">empty</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}