{% macro showCopyField(label, value, id) %}
    <p>
        <strong>{{ label }}:</strong> <span data-id="copy-input-{{ id }}" class="cursor-pointer copy-field">{{ value }}</span>
        {% if value is not null and value != '' %}
            {#<i data-id="copy-input-{{ id }}" class="fa fa-copy cursor-pointer copy-field"></i>#}
        {% else %}
            <span class="label label-default">Empty</span>
        {% endif %}
    </p>
    <input class="transparent" type="text" value="{{ value }}" id="copy-input-{{ id }}">
{% endmacro %}

{#CALL MODAL#}
{#<button data-toggle="modal" data-target="#modalAdmit" type="button" class="btn">
    Admit Patient
</button>#}

{% macro createModal(id, title, body, html, btnAccept, href, btnPrimaryLabel) %}
    <div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
                </div>

                <div class="modal-body modal-body-{{ id }}">
                    {% if html %}
                        {{ body|raw }}
                    {% else %}
                        <h4>{{ body }}</h4>
                    {% endif %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    {% if btnAccept %}<a {% if href %}href="{{ href }}"{% endif %} type="button" class="btn btn-success">{{ btnPrimaryLabel|default('Accept') }}</a>{% endif %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endmacro %}