{% extends 'SonataDoctrineORMAdminBundle:CRUD:show_orm_many_to_one.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value is not null %}
            <a href="{{ path('show_patient', {id: value.id}) }}">{{ value.fullname }}</a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
