{% import '@SonataAdmin/CRUD/base_array_macro.html.twig' as list %}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% for v in value %}
        {% if v != 'ROLE_USER' %}
            {{ v|trans({}, 'BackEndBundle') }}
        {% endif %}
    {% endfor %}
    {#{{ list.render_array(value, field_description.options.inline is not defined or field_description.options.inline) }}#}
{% endblock %}
