{% extends 'SonataDoctrineORMAdminBundle:CRUD:show_orm_many_to_one.html.twig' %}

{% block field %}
    {% if value is not null %}
        <span {% if value|class == 'Nomenclator' %}class="{{ value.classCss }}"{% endif %}>{{ value|trans({}, 'BackEndBundle') }}</span>
    {% endif %}
{% endblock %}
