{% extends 'SonataDoctrineORMAdminBundle:CRUD:show_orm_many_to_many.html.twig' %}

{% block field %}
    {% spaceless %}
    {% for element in value%}
            <span>{{ element|trans({}, 'BackEndBundle') }}</span>
            {% if not loop.last %}, {% endif %}
    {% endfor %}
        
    {% endspaceless %}
{% endblock %}