{% if is_granted('ROLE_SERVICE_APPROVE', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalReviewService{{ object.id }}" title="Review Service">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    </button>

    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalReviewService' ~ object.id,
        'Review Service Record ' ~ object.id,
        'Are you sure you want to review this service?',
        false,
        true,
        path('approve_service', { idService: object.id }))
    }}
{% endif %}