{% if admin.hasAccess('delete', object) and admin.hasRoute('delete') %}
    {% set disable_btn = true %}
    {% if (app.user.isServiceWorker and object.status.name == 'open') or (not app.user.isServiceWorker) %}
        {% set disable_btn = false %}
    {% endif %}

    <a {% if disable_btn %}disabled="disabled"{% endif %} {% if not disable_btn %}href="{{ admin.generateObjectUrl('delete', object) }}"{% endif %} class="btn btn-sm btn-default delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-times" aria-hidden="true"></i>
        {#{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}#}
    </a>
{% endif %}