{% if is_granted('ROLE_SERVICE_CLOSE', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalCloseService{{ object.id }}" title="Close Service">
        <i class="fa fa-lock" aria-hidden="true"></i>
    </button>
    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalCloseService' ~ object.id,
        'Close Service Record ' ~ object.id,
        'Are you sure you want to close this service?',
        false,
        true,
        path('close_service', { idService: object.id }))
    }}
{% endif %}