{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') and not object.revised %}
    <a href="{{ path('add_service_patient', { idPatient: object.patient.id, idServiceParent: object.serviceParent.id, idService: object.id }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
{% endif %}
