{% if is_granted('ROLE_SERVICE_REVIEW', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalReviewService{{ object.id }}" title="Approve Service">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
    </button>

    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalReviewService' ~ object.id,
        'Approve Service Record ' ~ object.id,
        'Are you sure you want to approve this service?',
        false,
        true,
        path('review_service', { idService: object.id }))
    }}
{% endif %}