/*General Properties*/
.red{
    background-color: #ff0010;
}

.padding-right-0{
    padding-right: 0;
}

.padding-left-0{
    padding-left: 0;
}

.margin-left-0{
    margin-left: 0 !important;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.cursor-pointer *, .cursor-pointer{
    cursor: pointer !important;
}

.cursor-blocked *, .cursor-blocked{
    cursor: not-allowed !important;
}

/*Loader*/
div#my-loader-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10051 !important;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0 0 black;
    opacity: 0.5;
}

div#my-loader {
    position: fixed;
    z-index: 10052 !important;
    left: 47%;
    top: 40%;
    opacity: 10 !important;
    border: 16px solid #f3f3f3 !important;
    border-radius: 50% !important;
    border-top: 16px solid #3850ff !important;
    width: 65px !important;
    height: 65px !important;
    -webkit-animation: spin 0.9s linear infinite !important;
    animation: spin 0.9s linear infinite !important;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a.no-link:hover {
    text-decoration: none !important;
}

.lineMiddle{
    text-decoration: line-through;
    color: #bbb !important;
}

/*FIX BACKEND*/
/*Improve sonata fields*/
td.image {
    text-align: left !important;
}

/*Use td aling in the middle to fix with the images*/
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
    vertical-align: middle !important;
}

/*Fixed modal overflow*/
.modal .modal-content{
    overflow: hidden;
}

/*Resolve minors css issues sonata*/
td.sonata-ba-list-field-integer{
    text-align: center !important;
}

.widget .table th a {
    color: white !important;
}

span.inner-field-short-description {
    color: black;
}

span.field-short-description {
    width: 100% !important;
}

ul.parsley-errors-list{
    margin-top: 2px;
}

textarea.parsley-error{
    box-shadow: inset 0 0 3px #f0af03 !important;
    border: 1px #f0af03 solid;
}

div.form-group.has-error-light div.select2-container{
    box-shadow: inset 0 0 3px #f0af03 !important;
    border: 1px #f0af03 solid;
    border-radius: 4px;
}

div.field-container::after {
    clear: both;
}

div.field-container::before, div.field-container::after {
    content: " ";
    display: table;
}

.table > thead > tr > th{
    text-transform: none !important;
}

span.inner-field-short-description a {
    color: black !important;
}

/*Fix x-editable margin*/
form.editableform div.editable-input{
    margin-bottom: 8px !important;
}

/*Fix top menu*/
ul.dropdown-menu > li[role="presentation"] > a[role="menuitem"] {
    overflow-x: hidden;
    white-space: pre-line;
}

/*Fix filters select2*/
.select2-chosen {
    text-align: left !important;
}

/*Fix SideBar*/
.sidebar {
    width: 180px;
    margin: 80px 0 0 15px;
}
.side-nav .panel-collapse li a{
    padding: 4px 15px 4px 45px;
}

div.sonata-filters-box > div.box.box-primary {
    padding-top: 30px;
}

/*Fix datatables jquery sort arrows*/
table.datatable-jquery thead th {
    padding-right: 20px !important;
}

/*Fix search*/
.sonata-search-result-list {
    margin-top: 30px;
}

/*CUSTOM CSS*/
.page-title-widget{
    line-height: 1 !important;
    font-weight: 300 !important;
    margin: 8px 0 10px !important;
}

.empty-field{
    /*font-style: italic;*/
    font-size: 0.85em;
}

.account-picture img{
    width: auto !important;
    max-height: 30px;
}

#account-menu li a i{
    margin-right: 5px;
}

.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    min-width: 100px;
}

.dropdown-menu.multi-column {
    background: rgba(51, 51, 51, 0.85);
}

.dropdown-menu.multi-column ul{
    background-color: transparent;
}

.dropdown-menu.multi-column li, .dropdown-menu.multi-column li a {
    color: white;
    font-weight: 300;
    line-height: 1.428571429;
}

.overflow-scroll{
    overflow-y: auto;
    overflow-x: visible !important;
    word-break: break-all !important;
}

.patient-inactive{
    font-size: 0.9em;
    color: #db4912;
}

.info-patient p {
    margin-bottom: 5px;
}

.transparent {
    opacity:0;
    position: absolute;
    left: 0;
    top: 0;
}

table.members td{
    padding: 4px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 2px solid rgba(51, 51, 51, 0.35);
}

tr.trColor1, tr.trColor1 a {
    color: #ffd80f;
}

tr.trColor2, tr.trColor2 a {
    color: #15D2D8;
}

tr.trColor3, tr.trColor3 a {
    color: #999999;;
}

table tr.clicked {
    background-color: #676767 !important;
}

.table-show-ajax * {
    font-size: 11px;
}

.servicesModal div{
    padding-right: 0;
}

.billingZero a, .billingZero {
    color: orangered;
    font-weight: bold;
}

.addNewElement{
    color: #4ebfbb;
    margin-left: 1px;
}

.addNewElement:hover{
    color: #387e7a;
}

.liDot {
    font-size: 7px;
    position: relative;
    top: -2px;
}

.baseListTable {
    min-height: 200px;
    overflow-x: auto;
}

a#btnAddNewTcmForm {
    position: absolute;
    left: 96px;
    z-index: 999;
}

.width-100-p{
    width: 100% !important;
}