{% extends '@BackEnd/custom/patient/show/show_patient.html.twig' %}

{% block jquery %}
    {#<script src="{{ asset('webviewer/html5/external/jquery-3.2.1.min.js') }}"></script>#}
    <script src="{{ asset('bundles/backend/light-blue/lib/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('webviewer/WebViewer.min.js') }}"></script>
{% endblock %}

{% block aditional_content %}
    <div class="col-xs-10">
        <div id='viewer' style='height: 1035px; !important;'></div>
    </div>

    <script type="text/javascript">
        var logs = {};
        var docViewer;
        showLoader();

        $(document).ready(function () {
            //Fixed theme;
            document.getElementById('sidebar').parentNode.removeChild(document.getElementById('sidebar'));
            $('div.wrap').addClass('margin-left-0');
            console.log('Load pdf: ', '{{ asset(serviceForm.fullPath) }}');
        });


        var viewerElement = document.getElementById('viewer');
        var myWebViewer = new PDFTron.WebViewer({
            path: '{{ app.request.getSchemeAndHttpHost() }}' + '/webviewer',
            l: 'demo:lazarob@qualgrow.com:72a0dfbd0100f7b76493633fa37c7ea93b8e96813e28662037',
            initialDoc: '{{ asset(serviceForm.fullPath) }}',
            fullAPI: true,
            config: "{{ asset('/webviewer/config.js') }}",
            hideAnnotationPanel: true
            //enableAnnotations: false
            //ui: 'beta'
        }, viewerElement);

        $(viewerElement).on('ready', function() {
            var iframeWindow = viewerElement.querySelector('iframe').contentWindow;
            var saveButton = iframeWindow.document.getElementById('customSaveButton');

            $(saveButton).on('click', function (evt) {
                savePdfServer();
            });
        });

        $(viewerElement).on('documentLoaded', function() {
            hideLoader();

            docViewer = myWebViewer.getInstance().docViewer;
            var annotManager = docViewer.getAnnotationManager();
            annotManager.on('fieldChanged', function(e, field, value) {
                //Register final change of fields changes
                logs[field.name] = value;
            });

            /*setInterval(function() {
             savePdfServer();
             }, 30000);*/
        });

        function savePdfServer(){
            showLoader();
            var options = {
                xfdfString: docViewer.getAnnotationManager().exportAnnotations()
            };
            var doc = docViewer.getDocument();

            doc.getFileData(options).then(function(data) {
                console.log(data);
                var arr = new Uint8Array(data);
                var blob = new Blob([arr], {
                    type: 'application/pdf'
                });

                var reader = new FileReader();
                reader.onload = function(event){
                    var fd = new FormData();
                    //fd.append('fname', 'test.pdf');
                    fd.append('data', event.target.result);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('ajax_save_pdf_form', { idServiceForm: serviceForm.id }) }}',
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            $.ajax({
                                type: 'POST',
                                url: '{{ path('ajax_save_service_form_logs', { idServiceForm: serviceForm.id }) }}',
                                data: logs,
                                success: function (response) {
                                    console.log('Save Logs successfully');
                                    logs = {};
                                }
                            });
                        }
                    }).done(function(data) {
                        // print the output from the upload.php script
                        console.log('Save PDF successfully');
                        hideLoader();
                        Messenger().post({
                            message: 'Save PDF successfully',
                            type: 'success',
                            showCloseButton: true,
                            hideAfter: 15
                        });
                    });
                };
                // trigger the read from the reader...
                reader.readAsDataURL(blob);
            });
        }
    </script>
{% endblock %}