{#This is the correct#}
{#Check BaseReaderControl.js to load annotations#}
{% extends '@BackEnd/custom/patient/show/show_patient.html.twig' %}

{% block t %}Forms Viewer{% endblock %}

{% block jquery %}
    <script src="{{ asset('bundles/backend/light-blue/lib/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('webviewer/WebViewer.min.js') }}"></script>
{% endblock %}

{% block aditional_content %}
    <div class="col-xs-10">
        <div id='viewer' style='height: 1035px; !important;'></div>
    </div>

    <script type="text/javascript">
        var logs = {};
        var docViewer;
        showLoader();
        {% set pdfPath = asset(pdfPath) %}

        $(document).ready(function () {
            //Fixed theme;
            document.getElementById('sidebar').parentNode.removeChild(document.getElementById('sidebar'));
            $('div.wrap').addClass('margin-left-0');
            //console.log('Load pdf: ', '{{ pdfPath }}');
        });

        var viewerElement = document.getElementById('viewer');
        var myWebViewer = new PDFTron.WebViewer({
            path: '{{ app.request.getSchemeAndHttpHost() }}' + '/webviewer',
            l: 'demo:lazarob@qualgrow.com:72a0dfbd0100f7b76493633fa37c7ea93b8e96813e28662037',
            initialDoc: '{{ pdfPath }}',
            fullAPI: true,
            config: "{{ asset('/webviewer/config.js') }}",
            hideAnnotationPanel: true,
            //enableAnnotations: false
            //ui: 'beta'
        }, viewerElement);

        $(viewerElement).on('ready', function () {
            var iframeWindow = viewerElement.querySelector('iframe').contentWindow;
            var saveButton = iframeWindow.document.getElementById('customSaveButton');

            $(saveButton).on('click', function (evt) {
                savePdfServer();
            });
        });

        $(viewerElement).on('documentLoaded', function () {

            docViewer = myWebViewer.getInstance().docViewer;
            var annotManager = docViewer.getAnnotationManager();

            docViewer.on('annotationsLoaded', function () {
                // all annotations are available
                /*var xfdfDataString = annotManager.exportAnnotations();
                xfdfDataString = xfdfDataString.replace('AFNumber_Format', 'getField');
                var annotations = annotManager.getAnnotationsList();
                annotManager.deleteAnnotations(annotations);

                annotManager.importAnnotations(xfdfDataString);*/
                hideLoader();
            });

            docViewer.setInternalAnnotationsTransform(function(xfdfData, callback) {
                console.log('internal');
                /*var parser = new DOMParser();
                var xfdfElements = parser.parseFromString(xfdfData, 'text/xml');
                [].forEach.call(xfdfElements.querySelectorAll('link'), function(e) {
                    e.parentNode.removeChild(e);
                });

                var serializer = new XMLSerializer();
                callback(serializer.serializeToString(xfdfElements));*/

                xfdfData = xfdfData.replace(/AFTime_Format\(1\);/g, '');
                callback(xfdfData);
            });

            annotManager.on('fieldChanged', function (e, field, value) {
                //Register final change of fields changes
                logs[field.name] = value;
            });

            /*setInterval(function() {
             savePdfServer();
             }, 30000);*/

        });

        function savePdfServer() {
            console.log(docViewer.getAnnotationManager().exportAnnotations());
            showLoader();
            var options = {
                xfdfString: docViewer.getAnnotationManager().exportAnnotations()
            };
            var doc = docViewer.getDocument();

            doc.getFileData(options).then(function (data) {
                console.log(data);
                var arr = new Uint8Array(data);
                var blob = new Blob([arr], {
                    type: 'application/pdf'
                });

                var reader = new FileReader();
                reader.onload = function (event) {
                    var fd = new FormData();
                    //fd.append('fname', 'test.pdf');
                    fd.append('data', event.target.result);
                    $.ajax({
                        type: 'POST',
                        url: '{{ pdfSavePath|raw }}',
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            console.log('Save PDF successfully');
                            hideLoader();
                            Messenger().post({
                                message: 'Save PDF successfully',
                                type: 'success',
                                showCloseButton: true,
                                hideAfter: 15
                            });
                        }
                    });

                    {#Save Logs#}
                    $.ajax({
                        type: 'POST',
                        url: '{{ logsSaveUrl|raw }}',
                        data: logs,
                        success: function (response) {
                            console.log('Save Logs successfully');
                            logs = {};
                        }
                    });
                };
                // trigger the read from the reader...
                reader.readAsDataURL(blob);
            });
        }
    </script>
{% endblock %}