{% if is_granted('ROLE_NOTE_APPROVE', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalReviewNote{{ object.id }}" title="Review Note">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    </button>
    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalReviewNote' ~ object.id,
        'Review Note ' ~ object.id,
        'Are you sure you want review this note?',
        false,
        true,
        path('approve_note', { idNote: object.id }))
    }}
{% endif %}