{% if is_granted('ROLE_NOTE_CLOSE', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalCloseNote{{ object.id }}" title="Close Note">
        <i class="fa fa-lock" aria-hidden="true"></i>
    </button>

    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalCloseNote' ~ object.id,
        'Close Note ' ~ object.id,
        'Are you sure you want to close this note?',
        false,
        true,
        path('close_note', { idNote: object.id }))
    }}
{% endif %}