{% if is_granted('ROLE_NOTE_WEB_PDF_VIEWER', object) %}
    <a target="_blank" href="{{ path('note_viewer', { noteId: object.id }) }}" class="btn btn-sm btn-default edit_link" title="Edit Note">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    </a>
{% endif %}