{% if is_granted('ROLE_NOTE_REVIEW', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalReviewNote{{ object.id }}" title="Approve Note">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
    </button>
    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalReviewNote' ~ object.id,
        'Approve Note ' ~ object.id,
        'Are you sure you want to approve this note?',
        false,
        true,
        path('review_note', { idNote: object.id }))
    }}
{% endif %}