{% if is_granted('ROLE_NOTE_UNREVIEW', object) %}
    <button type="button" class="btn btn-sm btn-default delete_link" data-toggle="modal" data-target="#modalUnReviewNote{{ object.id }}" title="UnApprove Note">
        <i class="fa fa-mail-reply" aria-hidden="true"></i>
    </button>
    {% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'modalUnReviewNote' ~ object.id,
        'UnApprove Note ' ~ object.id,
        'Are you sure you want to unckeck approve status in this note?',
        false,
        true,
        path('un_review_note', { idNote: object.id }))
    }}
{% endif %}