<a href="{{ path('update_billable_note', { idNote: object.id }) }}" class="btn btn-sm btn-default edit_link" title="Change Billable Status">
    {% if object.noBillable %} Billable {% else %} No Billable {% endif %}
</a>
