<section class="widget" style="min-height: 190px">
    <header>
        <h4>
            Active Authorizations
        </h4>
    </header>
    <div class="body">
        <ul class="server-stats">
            {% set thereAre = '0' %}
            {% for auth in patient.authorizations if auth.active %}
                <li>
                    <div class="key">{% for sc in auth.serviceCodes %}[{{ sc }}] {% endfor %}</div>
                    <div class="stat" title="{{ auth.getTitlePreview() }}">
                        <div class="info">{{ auth.unitsConsumed }} / {{ auth.unitsApproved }} (RU: {{ auth.getRemainedUnits() }})</div>
                        <div class="progress progress-small" style="width: 170px">
                            <div class="progress-bar {% if auth.percent > 50 and auth.percent < 80%}progress-bar-warning{% endif %} {% if auth.percent >= 80%}progress-bar-danger{% endif %}" style="width: {{ auth.percent }}%;"></div>
                        </div>
                        Expire in: {{ auth.expireIn }} days
                    </div>
                </li>
                {% set thereAre = '1' %}
            {% endfor %}
        </ul>

        {% if thereAre == '0' %}
            <p class="text-align-center" style="margin-top: 68px">
                <span class="">No authorizations active</span>
            </p>
        {% endif %}
    </div>
</section>