<div class="row">
    <div class="col-sm-12">
        <div class="text-align-center">
            <img class="img-circle" src="{{ asset(patient.mediaUrl)}}" alt="64x64" style="height: 112px; max-width: 120px;">
        </div>
    </div>
    <div class="col-sm-12">
        <h3 class="mt-sm mb-xs">{{ patient.name }} {% if not patient.active %}<span class="patient-inactive">[Inactive]</span>{% endif %}</h3>
        <address>
            {% import '@BackEnd/structures/macro.html.twig' as macro %}
            {{ macro.showCopyField('general.name'|trans({}, 'BackEndBundle'), patient.name, 'name') }}
            {{ macro.showCopyField('general.lastname'|trans({}, 'BackEndBundle'), patient.lastname, 'lastname') }}
            {{ macro.showCopyField('form.patient.case.number'|trans({}, 'BackEndBundle'), patient.caseNumber, 'cn') }}
            {{ macro.showCopyField('form.patient.address'|trans({}, 'BackEndBundle'), patient.address, 'address') }}
            {{ macro.showCopyField('form.patient.cellphone'|trans({}, 'BackEndBundle'), patient.cellPhone, 'cp') }}
            {{ macro.showCopyField('Medicare', patient.medicare is not null ? patient.medicare : '', 'medicare') }}
            {{ macro.showCopyField('Medicaid', patient.medicaid is not null ? patient.medicaid : '', 'medicaid') }}
            <p>
                <strong>Last Diagnosis:</strong> <span>{{ patient.getActiveDiagnosis().diagnosisTemplate }}</span>
                {% if patient.getActiveDiagnosis() is null %}
                    <span class="label label-default">Empty</span>
                {% endif %}
            </p>
            <p>
                <strong>Last Group:</strong> <span>{{ lastGroup }}</span>
                {% if lastGroup is null %}
                    <span class="label label-default">Empty</span>
                {% endif %}
            </p>
            <p>
                <strong>Last TCM:</strong> <span>{{ lastTcm }}</span>
                {% if lastTcm is null%}
                    <span class="label label-default">Empty</span>
                {% endif %}
            </p>
            <p>
                <strong>Last CMH:</strong> <span>{{ lastCmh }}</span>
                {% if lastCmh is null%}
                    <span class="label label-default">Empty</span>
                {% endif %}
            </p>
            <p>
                <strong>Last Specialist:</strong> <span>{{ lastSpecialist }}</span>
                {% if lastSpecialist is null%}
                    <span class="label label-default">Empty</span>
                {% endif %}
            </p>
        </address>

        {% if not patient.active and is_granted('ROLE_FRONT_DESK') and not(patient.medicare is null and patient.medicaid is null) %}
            <button type="button" class="btn btn-danger btn-lg btn-block"
                    data-toggle="modal" data-target="#modalAdmit">Admit Patient</button>
            {% set message = 'Are you sure you want to admit this patient in ' %}
            {% if patient.intakeTypes|length == 1 %}
                {% set message = message ~ patient.intakeTypes.get(0)|trans({}, 'BackEndBundle') ~ '?' %}
            {% else %}
                {% set message = message ~ patient.intakeTypes.get(0)|trans({}, 'BackEndBundle') ~ ' and ' %}
                {% set message = message ~ patient.intakeTypes.get(1)|trans({}, 'BackEndBundle') ~ '?' %}
            {% endif %}

            {{ macro.createModal(
                'modalAdmit',
                'Admit patient ' ~ patient.name,
                message,
                false,
                true,
                path('admit_patient', {id: patient.id}))
            }}
        {% endif %}

    </div>
</div>

<script type="text/javascript">
    $(function () {
        initCopyField();
    })
</script>