<div class="row">
    <div class="col-sm-12">
        <h3 class="mt-sm mb-xs">{{ 'header.other.info'|trans({}, 'BackEndBundle') }}</h3>
        <address>
            {% import '@BackEnd/structures/macro.html.twig' as macro %}
            {{ macro.showCopyField('form.patient.age'|trans({}, 'BackEndBundle'), patient.age, 'age') }}
            {{ macro.showCopyField('form.patient.gender'|trans({}, 'BackEndBundle'), patient.gender|trans({}, 'BackEndBundle'), 'gender') }}
            {{ macro.showCopyField('form.patient.race'|trans({}, 'BackEndBundle'), patient.race|trans({}, 'BackEndBundle'), 'race') }}
            {{ macro.showCopyField('form.patient.ethnicity'|trans({}, 'BackEndBundle'), patient.ethnicity|trans({}, 'BackEndBundle'), 'ethnicity') }}
            {{ macro.showCopyField('form.patient.marital.status'|trans({}, 'BackEndBundle'), patient.maritalStatus|trans({}, 'BackEndBundle'), 'maritalStatus') }}
            {{ macro.showCopyField('form.patient.educational.level'|trans({}, 'BackEndBundle'), patient.educationalLevel|trans({}, 'BackEndBundle'), 'educationalLevel') }}
            {{ macro.showCopyField('PL', patient.primaryLanguage|trans({}, 'BackEndBundle'), 'primaryLanguage') }}
            {{ macro.showCopyField('form.patient.country.birth'|trans({}, 'BackEndBundle'), patient.countryBirth|country, 'countryBirth') }}
            {{ macro.showCopyField('form.patient.status'|trans({}, 'BackEndBundle'), patient.status|trans({}, 'BackEndBundle'), 'status') }}
        </address>
    </div>
</div>