<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#services" data-toggle="tab" title="{{ 'menu.entity.service'|trans({}, 'BackEndBundle') }}"><i class="fa fa-user-md"></i> </a></li>
    <li><a href="#evaluationServices" data-toggle="tab" title="Assessments"><i class="fa fa-stethoscope"></i></a></li>
    <li><a href="#workerRegistry" data-toggle="tab" title="Registry of Assigned Workers"><i class="fa fa-group"></i></a></li>
    <li><a href="#registryPatient" data-toggle="tab" title="{{ 'registry.patient'|trans({}, 'BackEndBundle') }}"><i class="fa fa-list-alt"></i></a></li>
    <li><a href="#diagnosis" data-toggle="tab" title="Diagnosis"><i class="fa fa-medkit"></i></a></li>
    <li><a href="#eligibilityPatient" data-toggle="tab" title="{{ 'eligibility.patient'|trans({}, 'BackEndBundle') }}"><i class="fa fa-question"></i></a></li>
    <li><a href="#authorizations" data-toggle="tab" title="Authorizations"><i class="fa fa-thumbs-up"></i></a></li>
    <li><a href="#tabCalendar" data-toggle="tab" title="Calendar"><i class="fa fa-calendar"></i></a></li>
    <li><a href="#tabTcmForms" data-toggle="tab" title="TCM Forms"><strong>TCM</strong> <i class="fa fa-file-text"></i></a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="services">
        <h3>CMH Services</h3>
        {% set patientServices = patient.getInterventionServicesCmh() %}
        {% include '@BackEnd/custom/patient/show/table_services.html.twig' %}

        <h3>TCM Services</h3>
        {% set patientServices = patient.getInterventionServicesTcm() %}
        {% include '@BackEnd/custom/patient/show/table_services.html.twig' %}
    </div>

    <div class="tab-pane fade" id="evaluationServices">
        {% set patientServices = patient.getEvaluationServices() %}
        {% include '@BackEnd/custom/patient/show/table_services.html.twig' %}
    </div>

    <div class="tab-pane fade" id="workerRegistry">
        {% include '@BackEnd/custom/patient/show/tab_worker_registry.html.twig' %}
    </div>

    <div class="tab-pane fade" id="registryPatient">
        {% include '@BackEnd/custom/patient/show/tab_registry_patient.html.twig' %}
    </div>

    <div class="tab-pane fade" id="diagnosis">
        {% include '@BackEnd/custom/patient/show/tab_diagnosis.html.twig' %}
    </div>

    <div class="tab-pane fade" id="eligibilityPatient">
        {% include '@BackEnd/custom/patient/show/tab_insurance_eligibility.html.twig' %}
    </div>

    <div class="tab-pane fade" id="authorizations">
        {% include '@BackEnd/custom/patient/show/tab_authorizations.html.twig' %}
    </div>

    <div class="tab-pane fade" id="tabCalendar">
        {% include '@BackEnd/custom/patient/show/tab_calendar.html.twig' %}
    </div>

    <div class="tab-pane fade" id="tabTcmForms">
        {% include '@BackEnd/custom/patient/show/tab_tcm_forms.html.twig' %}
    </div>
</div>