<section class="widget">
    <header>
        <h4><i class="fa fa-usd"></i> Billing Info.</h4>
    </header>
    <div class="body">
        <form method="post">
            <fieldset>
                <div class="form-group">
                    <label for="exp" style="font-size: 50px; font-weight: bold">53.0</label>
                    <p><strong>Total points</strong></p>
                </div>
                <div class="form-group">
                    <label for="website">Pending points</label>
                    <p>20.0</p>
                </div>
                <div class="form-group">
                    <label for="website" class="text-info">Billing field</label>
                    <p>information</p>
                </div>
                <div class="form-group">
                    <label for="website" class="text-warning">Billing field</label>
                    <p>information</p>
                </div>
                <div class="form-group">
                    <label for="website" class="text-success">Billing field</label>
                    <p>information</p>
                </div>
            </fieldset>
        </form>
    </div>
</section>