{#Evaluation Services#}
<section class="widget" data-widgster-load="{{ path('get_services', { type: 'evaluation', idPatient: patient.id }) }}" data-widgster-autoload="true" data-widgster-show-loader="false">
    <header>
        <h4>Assessments</h4>
    </header>
    <div class="body" style="height: 165px">
        <div class="loader animated fadeIn handle ui-sortable-handle">
            <span class="spinner">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </div>
    </div>
</section>

{#Intervention Services#}
<section class="widget" data-widgster-load="{{ path('get_services', { type: 'intervention', idPatient: patient.id }) }}" data-widgster-autoload="true" data-widgster-show-loader="false">
    <header>
        <h4>Intervention Services</h4>
    </header>
    <div class="body" style="height: 165px">
        <div class="loader animated fadeIn handle ui-sortable-handle">
            <span class="spinner">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </div>
    </div>
</section>

{#Reports#}
<section class="widget">
    <header>
        <h4>Reports</h4>
    </header>
    <div class="body" style="height: 138px">
        <div id="" class="myScroll" data-h="135">
            <div class="wrapper">
                <section class="feed-item">
                    <div class="icon pull-left">
                        <i class="fa fa-check color-green"></i>
                    </div>
                    <div class="feed-item-body">
                        <div class="text">
                            <a target="_blank" href="{{ path('generate_intake_pdf', { type: 'tcm', id: patient.id }) }}">
                                {{ 'general.intake'|trans({}, 'BackEndBundle') }} TCM
                            </a>
                        </div>
                    </div>
                </section>

                <section class="feed-item">
                    <div class="icon pull-left">
                        <i class="fa fa-check color-green"></i>
                    </div>
                    <div class="feed-item-body">
                        <div class="text">
                            <a target="_blank" href="{{ path('generate_intake_pdf', { type: 'cmh', id: patient.id }) }}">
                                {{ 'general.intake'|trans({}, 'BackEndBundle') }} CMH
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

