{% extends '@BackEnd/sonata_override/light_layout.html.twig' %}

{% block t %}{{ 'patient.profile'|trans({}, 'BackEndBundle') }}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {% include '@BackEnd/custom/patient/show/title_bar.html.twig' %}

        <div class="col-md-2 col-xs-12 no-padding">
            <section class="widget" data-widgster-load="{{ path('ajax_show_info_patient', { id: patient.id }) }}" data-widgster-autoload="true" data-widgster-show-loader="false">
                <div class="body" style="min-height: 500px">
                    <div class="loader animated fadeIn handle ui-sortable-handle">
                        <span class="spinner">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>
                </div>
            </section>

            <section class="widget" data-widgster-load="{{ path('ajax_show_other_info_patient', { id: patient.id }) }}" data-widgster-autoload="true" data-widgster-show-loader="false">
                <div class="body" style="min-height: 300px">
                    <div class="loader animated fadeIn handle ui-sortable-handle">
                        <span class="spinner">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>
                </div>
            </section>
        </div>

        {% block aditional_content %}
            <div class="col-md-8">
                <section id="tabsPatient" class="widget" data-widgster-load="{{ path('ajax_show_tabs_patient', { id: patient.id }) }}" data-widgster-autoload="true" data-widgster-show-loader="false">
                    <header>
                        <h4>Patient Summary:</h4>
                        <div class="widget-controls">
                            {% set patientAdmin = sonata_pool.adminByadminCode('patient.bundle.admin.patient') %}
                            {% if is_granted('ROLE_PATIENT_BUNDLE_ADMIN_PATIENT_EDIT') %}<a title="Edit Patient" href="{{ patientAdmin.generateObjectUrl('edit', patient) }}"><i class="fa fa-pencil"></i></a>{% endif %}
                            {% if is_granted('ROLE_SPECIALIST') %}<a title="Diagnosis" href="{{ patientAdmin.generateUrl('patient.bundle.admin.patient|patient.bundle.admin.diagnosis.patient.list', { id: patient.id }) }}"><i class="fa fa-medkit"></i></a>{% endif %}
                            {% if is_granted('ROLE_AUTHORIZATION_CHECKER') %}<a title="Authorizations" href="{{ patientAdmin.generateUrl('patient.bundle.admin.patient|patient.bundle.admin.authorization.list', { id: patient.id }) }}"><i class="fa fa-thumbs-up"></i></a>{% endif %}
                            <a title="List of patients" href="{{ patientAdmin.generateUrl('list') }}"><i class="fa fa-list"></i></a>
                        </div>
                    </header>
                    <div class="body" style="min-height: 930px">
                        <div class="loader animated fadeIn handle ui-sortable-handle">
                            <span class="spinner">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-2 no-padding">
                {% include '@BackEnd/custom/patient/show/active_authorizations.html.twig' %}
                {% if patient.active and is_granted('ROLE_SERVICE_WORKER') %}
                    {% include '@BackEnd/custom/patient/show/list_services.html.twig' %}
                {% endif %}
            </div>
        {% endblock %}

        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>

    {#MODAL TO SHOW SERVICES DETAILS#}
    {#{% import '@BackEnd/structures/macro.html.twig' as macro %}
    {{ macro.createModal(
        'showServiceDetails',
        'Show service details',
        'Loading...',
        false, false)
    }}#}

    <script type="text/javascript">
        $(function () {
            if($('#sidebar').length) {
                document.getElementById('sidebar').parentNode.removeChild(document.getElementById('sidebar'));
                $('div.wrap').addClass('margin-left-0');
            }

            //On load only section services.
            $('section#tabsPatient').on('loaded.widgster', function () {
                initDataTables($('section#tabsPatient table'));
                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                    $('#calendar').fullCalendar('render');
                });

                {% if app.request.query.has('tab') %}
                    $('a[href="#{{ app.request.query.get('tab') }}"]').tab('show');
                {% endif %}
            });
        });
    </script>
{% endblock %}