<a id="btnAddNewTcmForm" data-toggle="modal" data-target="#modalAddNewTcmForm" href="" class="btn btn-primary">Add new form</a>

<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th class="no-sort">Name</th>
        <th class="no-sort">Filled</th>
        <th class="no-sort">Service</th>
        <th class="no-sort">Created At</th>
        <th class="no-sort"></th>
    </tr>
    </thead>

    <tbody>
    {% for serviceForm in serviceForms %}
        <tr>
            <td style="width: 200px">
                <span class="fw-semi-bold">
                    <a target="_blank" href="{{ asset(serviceForm.getFullPath()) }}">{{ serviceForm.name }}</a>
                </span>
            </td>
            <td>
                {% include '@BackEnd/custom/billing/swith_boolean_billing.html.twig' with {
                    value: serviceForm.filled,
                    isBilleable: false
                } %}
            </td>
            <td>
                <span class="fw-semi-bold">
                    <a target="_blank" href="{{ serviceAdmin.generateObjectUrl('show', serviceForm.service) }}">{{ serviceForm.service }}</a>
                </span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ serviceForm.createdAt|date('M d, Y') }}</span>
            </td>
            <td>
                {% if is_granted('ROLE_NOTE_WEB_PDF_VIEWER', serviceForm) %}
                    <a target="_blank" href="{{ path('service_form_viewer', { idServiceForm: serviceForm.id }) }}" class="btn btn-sm btn-default edit_link" title="Edit Form">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Modal add new TCM form #}
<div id="modalAddNewTcmForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add new form</h4>
            </div>

            <form method="post" action="{{ path('add_form_to_service') }}">
                <div class="modal-body modal-body-tcm-form">
                    <h4>TCM Forms:</h4>
                    {% set formsTcm = clinic_util.getFormsByRol('ROLE_TCM') %}
                    <select name="formTcm" id="selectFormTcm" title="TCM Forms" class="width-100-p">
                        {% for form in formsTcm %}
                            <option value="{{ form.id }}">{{ form.name }}</option>
                        {% endfor %}
                    </select>

                    {% set weeks = d.getRepository('WorkerBundle:Week').getWeeksForSelect() %}
                    <select name="week" id="selectWeek" title="Select one week" class="width-100-p" style="margin-top: 20px">
                        {% for week in weeks %}
                            <option value="{{ week.id }}">{{ week }}</option>
                        {% endfor %}
                    </select>

                    <select name="service" id="selectService" title="Select one service record to attach the form" class="width-100-p" style="margin-top: 20px">
                        {# Ajax content go here #}
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" disabled="disabled">Accept</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script type=text/javascript>
    var $selectWeek = $('#selectWeek');
    var $selectService = $('#selectService');

    $(function () {
        $selectWeek.change(updateServices());
        $selectWeek.change();
    });

    function updateServices(){
        return function () {
            var weekId = $("#selectWeek option:selected").val();

            if(weekId){
                var url = '{{ path('ajax_select_services_by_week', { weekId: '_1', patientId: patient.id }) }}';
                url = url.replace('_1', weekId);

                //showLoader();
                $.post(url, null, function(data){
                    $selectService.empty().append(data);
                    $selectService.trigger("chosen:updated");
                    //hideLoader();

                    if ($selectService.find('option:selected').val()){
                        $('.modal-footer button[type="submit"]').removeAttr('disabled');
                    } else {
                        $('.modal-footer button[type="submit"]').attr('disabled', 'disabled');
                    }
                },"text");
            }
        };
    }
</script>