<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th class="no-sort">Authorization</th>
        <th class="no-sort">Services</th>
        <th class="no-sort">Date Range</th>
        <th class="no-sort">Units</th>
    </tr>
    </thead>

    <tbody>
    {% for auth in patient.authorizations %}
        {% if auth.active %}{% set color = '#57b955' %}{% else %}{% set color = '#f0af03' %}{% endif %}
        <tr style="color: {{ color }} !important;">
            <td style="width: 200px">
                <span class="fw-semi-bold">Insurance: </span> {{ auth.hmo }}
                <span class="fw-semi-bold">Number: </span> {{ auth.number }}
            </td>

            <td>
                {% for serviceCode in auth.serviceCodes %}
                <span class="label label-info">{{ serviceCode.code }}</span>
                {% endfor %}
            </td>

            <td>
                <small>
                    <span class="fw-semi-bold">Begin Date:</span>&nbsp; {{ auth.beginDate|date('M d, Y') }}
                </small>
                <br/>
                <small>
                    <span class="fw-semi-bold">End Date:</span>&nbsp; {{ auth.endDate|date('M d, Y') }}
                </small>
            </td>

            <td>
                <small>
                    <span class="fw-semi-bold">Approved:</span>&nbsp; {{ auth.unitsApproved }}
                </small>
                <br/>
                <small>
                    <span class="fw-semi-bold">Consumed:</span>&nbsp; {{ auth.unitsConsumed }}
                </small>
                <br/>
                <small>
                    <span class="fw-semi-bold">RU:</span>&nbsp; {{ auth.remainedUnits }}
                </small>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>