<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Diagnosis Date</th>
        <th class="no-sort">Diagnosis</th>
        <th class="no-sort">BRIEF</th>
        <th class="no-sort">BIO</th>
        <th class="no-sort">PSY EVA</th>
        <th>Created By</th>
        <th>Evaluation Forms</th>
    </tr>
    </thead>

    <tbody>
    {% for diagnosis in patient.diagnosisEntrys %}
        <tr>
            <td>
                <span class="fw-semi-bold">{{ diagnosis.diagnosisDate|date('M d, Y') }}</span><br/>
                ({{ diagnosis.diagnosisDate|ago }})
            </td>
            <td>
                <span class="fw-semi-bold">{{ diagnosis.diagnosisTemplate }}</span>
            </td>
            <td>
                {% set type = diagnosis.ip ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ diagnosis.ip|toString }}</span>
            </td>
            <td>
                {% set type = diagnosis.bio ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ diagnosis.bio|toString }}</span>
            </td>
            <td>
                {% set type = diagnosis.pcp ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ diagnosis.pcp|toString }}</span>
            </td>
            <td>
                <span>{{ diagnosis.createdBy }}</span>
            </td>
            <td>
                {% for form in diagnosis.forms %}
                    <a target="_blank" href="{{ asset(form.fullPath) }}">{{ form.name }}</a><br/>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>