<h3>{{ 'medicare.eligibility'|trans({}, 'BackEndBundle') }}</h3>

<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Number</th>
        <th>HMO</th>
        <th>Alternate ID</th>
        <th>{{ 'form.insurance.eligibility.run.date'|trans({}, 'BackEndBundle') }}</th>
        <th>Responsible</th>
    </tr>
    </thead>

    <tbody>
    {% for ie in patient.eligibilityEntrys if ie.type == 'medicare' %}
        <tr>
            <td>
                <span class="fw-semi-bold">{{ ie.number }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.hmo }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.patient.medicare.alternateId }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.runDate|date('M d, Y') }}</span><br/>
                ({{ ie.runDate|ago }})
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.responsible is not null ? ie.responsible.fullname : '' }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="border" style="margin-top: 45px"></div>


<h3 style="margin-top: 50px">
    {{ 'medicaid.eligibility'|trans({}, 'BackEndBundle') }}
</h3>

<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Number</th>
        <th>HMO</th>
        <th>Alternate ID</th>
        <th>{{ 'form.insurance.eligibility.run.date'|trans({}, 'BackEndBundle') }}</th>
        <th>Responsible</th>
    </tr>
    </thead>

    <tbody>
    {% for ie in patient.eligibilityEntrys if ie.type == 'medicaid' %}
        <tr>
            <td>
                <span class="fw-semi-bold">{{ ie.number }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.hmo }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.patient.medicaid.alternateId }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.runDate|date('M d, Y') }}</span><br/>
                ({{ ie.runDate|ago }})
            </td>
            <td>
                <span class="fw-semi-bold">{{ ie.responsible is not null ? ie.responsible.fullname : '' }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


