<table class="table table-striped table-hover datatable-jquery">
    <thead>
        <tr>
            <th>{{ 'form.registry.patient.entry.date'|trans({}, 'BackEndBundle') }}</th>
            {#<th>{{ 'form.registry.patient.therapist'|trans({}, 'BackEndBundle') }}</th>
            <th>{{ 'form.patient.case.manager'|trans({}, 'BackEndBundle') }}</th>#}
            <th class="no-sort">Open CMH</th>
            <th class="no-sort">Open TCM</th>
            <th class="no-sort">Discharge CMH</th>
            <th class="no-sort">Discharge TCM</th>
            <th>Discharge CMH Date</th>
            <th>Discharge TCM Date</th>
        </tr>
    </thead>

    <tbody>
    {% for registry in patient.registrys %}
        <tr>
            <td>
                <span class="fw-semi-bold">{{ registry.entryDate|date('M/d/Y') }}</span>
            </td>
            {#<td>
                <span class="fw-semi-bold">{{ registry.therapist }}</span>
            </td>
            <td>
                <span class="fw-semi-bold">{{ registry.caseManager }}</span>
            </td>#}
            <td>
                {% set type = registry.openByTcm ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ registry.openByTcm|toString }}</span>
            </td>
            <td>
                {% set type = registry.openByCmh ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ registry.openByCmh|toString }}</span>
            </td>
            <td>
                {% set type = registry.dischargeCmh ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ registry.dischargeCmh|toString }}</span>
            </td>
            <td>
                {% set type = registry.dischargeTcm ? 'success' : 'important' %}
                <span class="label label-{{ type }}">{{ registry.dischargeTcm|toString }}</span>
            </td>
            <td>
                {% if registry.dischargeCmhDate %}
                    <span class="fw-semi-bold">{{ registry.dischargeCmhDate|date('m/d/Y') }}</span><br/>
                    ({{ registry.dischargeCmhDate|ago }})
                {% else %}
                    <span class="label label-default">empty</span>
                {% endif %}
            </td>
            <td>
                {% if registry.dischargeTcmDate %}
                    <span class="fw-semi-bold">{{ registry.dischargeTcmDate|date('m/d/Y') }}</span><br/>
                    ({{ registry.dischargeTcmDate|ago }})
                {% else %}
                    <span class="label label-default">empty</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>