<section class="widget" style="background: none">
    <header>
        <h4>
            <i class="fa fa-calendar"></i>
            Calendar
        </h4>
        <div class="actions">
            <div class="btn-group mr-sm">
                <button class="btn btn-default" id="calender-prev"><i class="fa fa-angle-left"></i></button>
                <button class="btn btn-default" id="calender-next"><i class="fa fa-angle-right"></i></button>
            </div>
            <button id="today" type="button" class="btn btn-warning mr-sm">
                Today
            </button>
            <div id="calendar-switcher" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="view" value="month" checked> Month
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="view" value="agendaWeek"> Week
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="view" value="agendaDay"> Day
                </label>
            </div>
        </div>
    </header>
    <div class="body">
        <div id="calendar" class="calendar mt-lg"></div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var $calendar = $('#calendar').fullCalendar({
            header: {
                left: '',
                center: 'title',
                right: ''
            },
            editable: false,
            droppable: false,
            fixedWeekCount: false,
            showNonCurrentDates: false,
            firstDay: 1,
            slotDuration: '00:15:00',

            views: {
                month: {
                    eventLimit: 4 // adjust to 4 only for agendaWeek/agendaDay
                }
            },

            // Events
            events: [
                {% for service in patient.services %}
                    {
                        id: {{ service.id }},
                        title: '{{ service.serviceParent.name }} ({{ service.serviceParent.code }})',
                        start: new Date({{ service.scheduleStart|date('Y') }}, {{ service.scheduleStart|date('n') - 1 }}, {{ service.scheduleStart|date('j') }}, {{ service.scheduleStart|date('H') }}, {{ service.scheduleStart|date('i') }}),
                        end: new Date({{ service.scheduleEnd|date('Y') }}, {{ service.scheduleEnd|date('n') - 1 }}, {{ service.scheduleEnd|date('j') }}, {{ service.scheduleEnd|date('H') }}, {{ service.scheduleEnd|date('i') }}),
                        allDay: false,
                        color: "{{ service|eventBackgroundColor }}",
                        textColor: "{{ service|eventTextColor }}",
                        tip: '{{ service.serviceParent.name }} ({{ service.serviceParent.code }}) [{{ service.scheduleStart|date('h:i a') }} - {{ service.scheduleEnd|date('h:i a') }}]'
                        //url: 'url'
                    },
                {% endfor %}
            ],

            //Render the event
            eventRender: function(event, element, view) {
                // event._id gets auto-populated, either event.id or auto-generated value
                element.attr('data-id', event.id);
                element.attr('title', event.tip);
            },

            eventClick: function (event) {
                console.log('a', event);
            }

        });

        $("#calendar-switcher").find("label").click(function () {
            $calendar.fullCalendar('changeView', $(this).find('input').val())
        });

        $('#calender-prev').click(function () {
            $calendar.fullCalendar('prev');
        });

        $('#calender-next').click(function () {
            $calendar.fullCalendar('next');
        });

        $("#today").click(function () {
            $calendar.fullCalendar('today');
        });
    });
</script>
