<table class="table table-striped table-hover datatable-jquery">
    <thead>
        <tr>
            <th class="no-sort">Fullname</th>
            <th class="no-sort">Role</th>
            <th class="no-sort">Service</th>
            <th>Assigned Date</th>
        </tr>
    </thead>

    <tbody>
    {% set workerRegistry = container.get('Core\\PatientBundle\\Manager\\PatientManager').getRegistryOfPatient(patient) %}
    {% for wr in workerRegistry %}
        {% if wr.worker is defined %}
            <tr>
                <td>
                    <span class="fw-semi-bold">{{ wr.worker.fullname }}</span>
                </td>
                <td>
                    <span class="fw-semi-bold">{{ wr.worker.getTranslateRol() }}</span>
                </td>
                <td>
                    <span class="fw-semi-bold">{{ wr.serviceParent }}</span> {% if wr.status.name == 'open' %}<span style="margin-left: 5px;" class="label label-success">Active</span>{% endif %}
                </td>
                <td>
                    <span class="fw-semi-bold">{{ wr.createdAt|date('M d, Y') }}</span>
                </td>
            </tr>
        {% else %}
            {% for w in wr.group.therapists %}
            <tr>
                <td>
                    <span class="fw-semi-bold">{{ w.fullname }}</span>
                </td>
                <td>
                    <span class="fw-semi-bold">{{ w.getTranslateRol() }}</span>
                </td>
                <td>
                    <span class="fw-semi-bold">{{ wr.group.serviceParent }}</span> {% if wr.active %}<span style="margin-left: 5px;" class="label label-success">Active</span>{% endif %}
                </td>
                <td>
                    <span class="fw-semi-bold">{{ wr.inDate|date('M d, Y') }}</span>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>