<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Name & Code</th>
        <th>Associate Forms</th>
        <th class="no-sort">Schedule</th>
        <th class="no-sort">Status</th>
        <th class="no-sort"></th>
    </tr>
    </thead>

    <tbody>
    {% set serviceAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.service') %}
    {% for service in patientServices %}
        <tr>
            <td>
                <small>
                    {#<a class="trigger-show-service" data-id="{{ service.id }}" href="{{ path('ajax_show_service_patient', {idService: service.id}) }}">
                        <span class="fw-semi-bold">{{ service.serviceParent.name }} ({{ service.serviceParent.code }})</span>
                    </a>#}
                    {#<a class="trigger-show-service cursor-pointer" data-id="{{ service.id }}" data-toggle="modal" data-target="#showServiceDetails" data-href="{{ path('ajax_show_service_patient', {idService: service.id}) }}">#}
                        {#<span class="fw-semi-bold">{{ service.serviceParent.name }} ({{ service.serviceParent.code }})</span>#}
                    {#</a>#}

                    {% if serviceAdmin.isGranted('ROLE_PATIENT_BUNDLE_ADMIN_SERVICE_SHOW', service) %}
                        <a href="{{ serviceAdmin.generateObjectUrl('show', service) }}">
                            <span class="fw-semi-bold">
                                {{ service.serviceParent.name }} ({{ service.serviceParent.code }})
                            </span>
                        </a>
                    {% else %}
                        <span class="fw-semi-bold">
                            {{ service.serviceParent.name }} ({{ service.serviceParent.code }})
                        </span>
                    {% endif %}
                </small>
                <br/>
                <small>
                    <span class="fw-semi-bold">Type:</span>&nbsp;
                    {% if service.serviceParent.type == 'nom.service.type.evaluation' %}{% set label = 'info' %}{% else %}{% set label = 'warning' %}{% endif %}
                    <span class="label label-{{ label }}">{{ service.serviceParent.type|trans({}, 'BackEndBundle') }}</span>
                </small>
                <br/>
                <small>
                    <span class="fw-semi-bold">{{ service.serviceParent.specialty|trans({}, 'BackEndBundle') }}</span> ({{ service.presence|trans({}, 'BackEndBundle') }})
                </small>
                <br/>
                <small>
                    <span class="fw-semi-bold">Worker:</span>&nbsp; {{ service.worker }}
                </small>
            </td>

            <td>

                {% for form in service.forms %}
                    {#<a target="_blank" href="{{ asset(form.fullPath) }}">[Code {{ form.id }}] {{ form.name }}</a><br/>#}
                    [Code {{ form.id }}] {{ form.name }}<br/>
                {% endfor %}
            </td>

            <td>
                <small>
                    <span class="fw-semi-bold">Service Date:</span>&nbsp; {{ service.serviceDate|date('M d, Y') }}
                </small>
                <br>
                <small>
                    <span class="fw-semi-bold">Start:</span>&nbsp; {{ service.scheduleStart|date('h:i a') }}
                </small>
                <br>
                <small>
                    <span class="fw-semi-bold">End:</span>&nbsp; {{ service.scheduleEnd|date('h:i a') }}
                </small>
                <br>
                <small>
                    <span class="fw-semi-bold">Duration:</span>&nbsp; {{ service.getServiceDurationMin() }} min
                </small>
            </td>

            <td>
                <span class="{{ service.status.classCss }}">{{ service.status|trans({}, 'BackEndBundle') }}</span>
            </td>

            <td>
                {% if service.status == 'nom.service.status.type.open' and service.createdBy.id == app.user.id %}
                    <a class="btn btn-default" href="{{ path('finish_service', { idService: service.id }) }}">Finish</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>