<section class="widget" style="min-height: 41px">
    <header>
        <h3 class="page-title-widget">
            {{ 'menu.entity.patient'|trans({}, 'BackEndBundle') }}
            <a href="{{ path('show_patient', {id: patient.id}) }}">
                <small>{{ 'profile'|trans({}, 'BackEndBundle') }}</small>
            </a>
        </h3>
        <div class="widget-controls">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Actions <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="sonata-action-element" href="{{ path('admin_core_patient_patient_list') }}">
                                <i class="fa fa-list" aria-hidden="true"></i> Return to list
                            </a>
                        </li>
                        <li>
                            <a class="sonata-action-element" href="{{ path('show_patient', {id: patient.id}) }}">
                                <i class="fa fa-eye" aria-hidden="true"></i> Show Profile
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</section>