{% extends '@BackEnd/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/light-blue/css/application.min.css') }}">
{% endblock %}

{% block body %}
    <div class="single-widget-container">
        <section class="widget login-widget">
            <header class="text-align-center">
                <h4>{{ 'login.title'|trans({}, 'BackEndBundle') }}</h4>
            </header>
            <div class="body">
                <form class="no-margin recaptcha-form" action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <fieldset>
                        <div class="form-group">
                            <label for="username">{{ 'general.username'|trans({}, 'BackEndBundle') }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input id="username" name="_username"  type="text" class="form-control input-lg input-transparent" placeholder="Your Username" value="{{ last_username }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">{{ 'general.password'|trans({}, 'BackEndBundle') }}</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="password" name="_password" type="password" class="form-control input-lg input-transparent" placeholder="Your Password">
                            </div>
                        </div>
                    </fieldset>

                    {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
                    {{ form_widget(form.recaptcha) }}

                    <div class="form-actions">
                        <button id="_submit" name="_submit" type="submit" class="btn btn-block btn-lg btn-danger">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>{{ 'login.sign.in'|trans({}, 'BackEndBundle') }}</small>
                        </button>
                        <a class="forgot" href="{{ path('fos_user_resetting_request') }}">{{ 'login.forgot.password'|trans({}, 'BackEndBundle') }}</a>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <script src="{{ asset('bundles/backend/light-blue/lib/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/lib/messenger/build/js/messenger.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/lib/messenger/build/js/messenger-theme-flat.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var theme = 'air';
            var classes = 'messenger-fixed messenger-on-top messenger-on-right';
            $.globalMessenger({ extraClasses: classes, theme: theme });
            Messenger.options = { extraClasses: classes, theme: theme };

            {% if error is not null %}
            console.log('error', '{{ error.messageKey|trans(error.messageData, 'security') }}');
            Messenger().post({
                message: '{{ error.messageKey|trans(error.messageData, 'security') }}',
                type: 'error',
                showCloseButton: true,
                hideAfter: 15
            });
            {% endif %}
        });
    </script>
{% endblock %}