{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">

    {% for code in groups if admin.formgroups[code] is defined %}
        {% set form_group = admin.formgroups[code] %}

        <div class="{{ form_group.class|default('col-md-12') }}">
            <section class="widget">
                <header>
                    <h4>
                        {% if form_group.icon is defined %}<i class="{{ form_group.icon }}"></i>{% endif %}
                        {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                        {% if form_group.subtitle is defined %}<small>{{ form_group.subtitle|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</small>{% endif %}
                    </h4>
                </header>
                <div class="body">
                    <div class="sonata-ba-collapsed-fields">
                        {% if form_group.description %}
                            <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                        {% endif %}

                        {% for field_name in form_group.fields if form[field_name] is defined %}
                            {% if admin.fieldsetForm is defined and field_name in admin.fieldsetForm|keys and admin.fieldsetForm[field_name].value == 'init' %}
                                <fieldset><legend class="section">{{ admin.fieldsetForm[field_name].label|trans({}, admin.translationDomain) }}</legend>
                            {% endif %}

                            {{ form_row(form[field_name])}}

                            {% if admin.fieldsetForm is defined and field_name in admin.fieldsetForm|keys and admin.fieldsetForm[field_name].value == 'end' %}
                                </fieldset>
                            {% endif %}
                        {% else %}
                            <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    {% endfor %}
    </div>
{% endmacro %}
