{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    <div class="btn-group" style="min-width: 100px">
        {% for actions in field_description.options.actions %}
            {% include actions.template %}
        {% endfor %}
    </div>
{% endblock %}
