{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        {% if actions.label is not defined %}
            {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
        {% endif %}
    </a>
{% endif %}
