{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {#<input type="checkbox" name="idx[]" value="{{ admin.id(object) }}">#}
    <div class="checkbox">
        <input id="checkbox{{ admin.id(object) }}" type="checkbox" name="idx[]" value="{{ admin.id(object) }}" data-check-all>
        <label for="checkbox{{ admin.id(object) }}"></label>
    </div>
{% endblock %}
