{% if admin.hasAccess('show', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-eye" aria-hidden="true"></i>
        {% if actions.label is not defined %}
            {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
        {% endif %}
    </a>
{% endif %}
