{% extends "@FrontEnd/default/template.html.twig" %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <section class="clearfix signUpSection">
        <div class="container">
            <div class="row">
                <div class="page-header text-center">
                    <h2>{{ 'edit.u.prifile'|trans({},'app') }}
                        {#<small>{{ 'edit.u.prifile.sub'|trans({},'app') }}</small>#}
                    </h2>
                </div>
                <div class="col-xs-12">
                    <div class="user-contact">
                        {{ form_start(form, {'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        <div class="col-xs-6">
                            <h3>{{ 'profile.personal.data'|trans({},'app') }}</h3>
                            {{ form_row(form.name) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.genderType) }}
                            {{ form_row(form.phone) }}
                            {{ form_row(form.country) }}
                            {{ form_row(form.passaport) }}
                            {{ form_row(form.boletin) }}
                            <div>
                                <input class="btn btn-primary pretty-btn" type="submit"
                                       value="{{ 'profile.edit.submit'|trans }}"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <h3>{{ 'profile.system.data'|trans({}, 'app') }}</h3>
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.current_password) }}
                            {{ form_row(form.mediaFile) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
