{% extends "@FrontEnd/default/template.html.twig" %}

{% block content %}

    {% include '@FrontEnd/structure/breadcumps.html.twig' with {
        'breadcumps': {
            '0': { 'label': 'app.home.page'|trans({},'app') ,  'route': '_welcome' },
            '1': { 'label': 'app.my.account'|trans({},'app') },
    }} %}

    <section class="user-profile-section bg-light">
        {# User Details #}
        {% include '@FrontEnd/profile/user_details.html.twig' %}
        
        {# Orders #}
        {% include '@FrontEnd/profile/orders.html.twig' %}

        {# Contact Us & CarShop #}
        {#<div class="container">
            <div class="row">
                #}{#Form Contact#}{#
                <div class="col-sm-4">
                    <aside>
                        <div class="user-contact">
                            <h3>Contact</h3>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName"
                                           placeholder="Please Enter Your Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail"
                                           placeholder="Please Enter Your Email">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">send message</button>
                            </form>
                        </div>
                    </aside>
                </div>

                <div class="col-sm-8"></div>
            </div>
        </div>#}
    </section>
{% endblock %}