{% extends '@BackEnd/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/light-blue/css/application.min.css') }}">
{% endblock %}

{% block body %}
    <div class="single-widget-container">
        <section class="widget login-widget" style="min-height: 200px">
            <header class="text-align-center">
                <h4>Forgot Username or Password?</h4>
            </header>
            <div class="body">
                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle')|nl2br }}</p>
            </div>
        </section>
    </div>
{% endblock %}