{% extends '@BackEnd/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/light-blue/css/application.min.css') }}">
{% endblock %}

{% block body %}
    <div class="single-widget-container">
        <section class="widget login-widget">
            <header class="text-align-center">
                <h4>Forgot Username or Password?</h4>
            </header>
            <div class="body">
                <form class="no-margin" action="{{ path("fos_user_resetting_send_email") }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-send"></i></span>
                                <input type="text" class="form-control" id="username" name="username" value="">
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-actions">
                        <button id="submit" name="submit" type="submit" class="btn btn-block btn-lg btn-danger">
                            <small>Send</small>
                        </button>
                        <a style="cursor: default" class="forgot" href="{{ path('fos_user_resetting_request') }}"></a>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}