{% extends '@BackEnd/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/light-blue/css/application.min.css') }}">
{% endblock %}

{% block body %}
    <div class="single-widget-container">
        <section class="widget login-widget">
            <header class="text-align-center">
                <h4>Reset Password?</h4>
            </header>
            <div class="body">
                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'no-margin' } }) }}
                    {{ form_widget(form) }}
                    <div class="form-actions">
                        <button id="submit" name="submit" type="submit" class="btn btn-block btn-lg btn-danger">
                            <small>Send</small>
                        </button>
                        <a style="cursor: default" class="forgot" href="{{ path('fos_user_resetting_request') }}"></a>
                    </div>
                {#{{ form_end(form) }}#}
                </form>
            </div>
        </section>
    </div>
{% endblock %}