<?php
{% set code %}
    {%- for field in fields %}

            ->add('{{ field }}', null, array(
                'label' => 'form.{{ classBasename|lower|replace({'admin': ''}) }}.{{ field }}',
            ))
    {%- endfor %}
{% endset %}

namespace {{ namespace }};

use Core\CoreBundle\Admin\BaseAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;

class {{ classBasename }} extends BaseAdmin
{
    /**
     * @param DatagridMapper $datagridMapper
     */
    protected function configureDatagridFilters(DatagridMapper $datagridMapper)
    {
        $datagridMapper
            {{- code }}
        ;
    }

    /**
     * @param ListMapper $listMapper
     */
    protected function configureListFields(ListMapper $listMapper)
    {
        $listMapper
            {{- code }}
            ->add('_action', null, array(
                'actions' => array(
                    'show' => array(),
                    'edit' => array(),
                    'delete' => array(),
                )
            ))
        ;
    }

    /**
     * @param FormMapper $formMapper
     */
    protected function configureFormFields(FormMapper $formMapper)
    {
        $formMapper
            {{- code }}
        ;
    }

    /**
     * @param ShowMapper $showMapper
     */
    protected function configureShowFields(ShowMapper $showMapper)
    {
        $showMapper
            {{- code }}
        ;
    }

    public function toString($object)
    {
        if($object instanceof {{ classBasename }} && $object->getName() != null)
            return $object->getName();
        return $this->trans('menu.entity.{{ classBasename|lower }}',array(),'BackEndBundle');
    }
}
