{% if is_granted('ROLE_BILLING') %}
    <button data-id = "{{ object.id }}" type="button" class="btn btn-sm btn-default delete_link showConsume" data-toggle="modal" data-target="#modalAjaxBaseList" title="List of discount services">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Discount
    </button>
{% endif %}