{% use "bootstrap_3_layout.html.twig" %}

{#Extends from this template bootstrap_3_layout.html.twig#}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}

{# Labels #}

{% block form_label -%}
    {%- if label is same as(false) -%}
        <div class="{{ block('form_label_class') }}"></div>
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{% block form_label_class -%}
    col-sm-4
{%- endblock form_label_class %}

{# Rows #}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block submit_row -%}
    <div class="form-group">{#--#}
        <div class="{{ block('form_label_class') }}"></div>{#--#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>{#--#}
    </div>
{%- endblock submit_row %}

{% block reset_row -%}
    <div class="form-group">{#--#}
        <div class="{{ block('form_label_class') }}"></div>{#--#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>{#--#}
    </div>
{%- endblock reset_row %}

{% block form_group_class -%}
    col-sm-7
{%- endblock form_group_class %}

{% block checkbox_row -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock checkbox_row %}

{#{% block checkbox_widget -%}
    #}{#{% set parent_label_class = parent_label_class|default('') -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% else -%}
        <div class="checkbox">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {%- endif %}#}{#
    <div class="checkbox checkbox-primary" style="padding-top: 0">
        {{ parent() }}
        <label for="{{ id }}">
            {% if translation_domain is same as(false) %}
                {{- label -}}
            {% elseif not sonata_admin.admin %}
                {{- label|trans({}, translation_domain) -}}
            {% else %}
                {{ label|trans({}, sonata_admin.field_description.translationDomain ?: admin.translationDomain) }}
            {% endif %}
        </label>
    </div>
{%- endblock checkbox_widget %}#}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    <div class="checkbox checkbox-primary" style="padding-top: 0">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">
            {% if label is not same as(false) -%}
                {% if label is empty -%}
                    {% set label = name|humanize %}
                {%- endif -%}

                {%- if not translation_domain is same as(false) -%}
                    {% set label = label|trans({}, translation_domain) %}
                {%- endif -%}
            {%- endif -%}
            {{ label }}
        </label>
    </div>
{%- endblock checkbox_widget %}


{# Redefine Form Structure#}
{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-7">
                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-inverse">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    </form>
{%- endblock form_end -%}


{#{%- block checkbox_widget -%}
    {%- set attr = attr|merge({ class: (attr.class|default('') ~ ' icheck')|trim }) -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ block('form_label') }}
{%- endblock checkbox_widget -%}

{%- block integer_widget -%}
    {%- set type = type|default('number') -%}
    {%- set mType = 'number' -%}
    {{ block('my_input_widget') }}
{%- endblock integer_widget -%}

{%- block my_input_widget -%}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}

        {%- if not translation_domain is same as(false) -%}
            {% set label = label|trans({}, translation_domain) %}
        {%- endif -%}
    {%- endif -%}

    {% if mType is defined %} {% set type = mType %} {% endif %}

    #}{#<div class="form-group">#}{#
        {% if icon is defined and icon is not null %}
            <i class="my-input-fa fa {{ icon }}" aria-hidden="true"></i>
        {% endif %}
        {%- set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }) -%}
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" placeholder="{{ label }} {% if required %}*{% endif %}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} style="padding-left: 17px" {% if type == 'number' %} required pattern="[0-9]*" {% endif %}/>
        #}{#{% if mType is defined and mType == 'number' %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#{{ id }}').keypress(function (evt) {
                        var keyCode = evt.keyCode;
                        console.log(keyCode);
                        if(keyCode < 48 || keyCode > 57)
                            evt.preventDefault();
                    });
                });
            </script>
        {% endif %}#}{#
        {{- form_errors(form) -}}
    #}{#</div>#}{#
{%- endblock my_input_widget -%}

{%- block form_widget_simple -%}
    #}{#{%- set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }) -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>#}{#
    {{ block('my_input_widget') }}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {%- set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }) -%}
    <textarea {{ block('widget_attributes') }} rows="3">{{ value }}</textarea>
    {{- form_errors(form) -}}
{%- endblock textarea_widget -%}

{%- block button_row -%}
    <div class="right">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- elseif label is same as(false) -%}
            {% set translation_domain = false %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {%- set attr = attr|merge({ class: (attr.class|default('') ~ ' btn btn-primary pretty-btn')|trim }) -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} style="width: 100%">
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }} {% if required %}*{% endif %}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_row -%}
    <div class="form-group {% if attr.class is defined and 'hidden' in attr.class %} hidden {% endif %}">
        #}{#{{- form_label(form) -}}#}{#
        {{- form_widget(form) -}}
        #}{#{{- form_errors(form) -}}#}{#
    </div>
{%- endblock form_row -%}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form novalidate="novalidate" class="modern-form" name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

#}{# Errors #}{#
{% block form_errors %}
    {% if errors|length > 1 %}
        <span class="label label-danger">{{ errors|length }} {{ 'form.more.errors' |trans({},'app') }}</span>
        #}{#{{ errors|first.message }}#}{#
        <ul class="padding-top-10">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% elseif errors|length == 1 %}
        <div class="error-block">
            <span class="label label-danger">{{ 'form.one.errors' |trans({},'app') }}</span>
            <span class="error-msg">{{ errors|first.message }}</span>
        </div>
    {% endif %}
{% endblock form_errors %}#}

{% block my_file_widget %}
    {% form_theme form 'form_div_layout.html.twig' %}
    <style type="text/css">@import "{{ asset('bundles/core/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}";</style>
    <script type="text/javascript" src="{{ asset('bundles/core/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>

    <div class="form-group last col-md-12">
        <div class="col-md-9" style="padding-left: 0">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" >
                    {% set path = asset(file_path) %}
                    <img src="{{ asset('bundles/core/plugins/bootstrap-fileinput/xalix.file_type.no_file-'~app.request.locale~'.png') }}" alt="" id="Default" class="img-full-area-expanded" />
                    <input type="hidden" id="imgEditable" value="{{ (file_path == 'null') ? file_path : path }}"/>
                </div>

                <div class="fileinput-preview fileinput-exists thumbnail"></div>

                <div>
                    <span class="btn btn-primary btn-file width-100-p" style="width: 100%">
                        <span class="fileinput-new file-buttom-text"><i class="fa fa-upload fa-check-square-o"></i>  {{ 'upload.button'|trans({},'BackEndBundle') }}</span>
                        <span class="fileinput-exists file-buttom-text" ><i class="fa fa-refresh"></i>  {{ 'change.button'|trans({},'BackEndBundle') }}</span>
                        {{ form_widget(form.file) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock my_file_widget %}

{% block my_file_drag_widget %}
    {% form_theme form 'form_div_layout.html.twig' %}
    {#<style type="text/css">@import "{{ asset('bundles/core/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}";</style>#}
    {#<script type="text/javascript" src="{{ asset('bundles/core/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>#}
    <style type="text/css">
        input[type='file'] {
            position: absolute;
            cursor: pointer;
            left: 0px;
            top: 0px;
            font-size: 12px;
            line-height: normal;
            font-weight: normal;

            width: 100% !important;
            height: 100% !important;

            opacity:0;
        }

        .mouse-over {
            border: 2px dashed rgba(0,0,0,.5);
            color: rgba(0,0,0,.5);
        }

        span.preview img{
            width: auto;
            height: 110px;
        }
    </style>

    <section class="widget">
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <div id="dropzone{{ form.vars.id }}" class="dropzone">
                        Drop one file here
                        {{ form_widget(form.file) }}
                    </div>
                </div>
            </div>

            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="form-actions fileupload-buttonbar no-margin">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span id="fileinput-button{{ form.vars.id }}" class="btn btn-default fileinput-button mr-xs">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add one file</span>
                </span>
            </div>

            <table role="presentation" class="table table-striped file-upload {% if isCreate %}hidden{% endif %}">
                <tbody class="files">
                    <tr class="template-upload">
                        <td>
                            <span class="preview">
                                {% if not isCreate %}
                                    <img src="{{ asset(object.thumbnail) }}" alt="preview">
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <p class="name">
                                {% if not isCreate %}
                                    {#<a target="_blank" href="{{ asset(object.getPath()~object.filename) }}">#}
                                        {% if object.name != '' %}{{ object.name }}{% else %}{{ object.filename }}{% endif %}
                                    {#</a>#}
                                {% endif %}
                            </p>
                        </td>
                        <td>
                            <p class="size">
                                {% if not isCreate %}{{ object.formatSize }}{% endif %}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            console.log('init upload drag and drop widget');
            var dropZoneId = "dropzone{{ form.vars.id }}";
            var mouseOverClass = "mouse-over";

            var dropZone = $("#" + dropZoneId);
//            var inputFile = dropZone.find("input[type='file']");
            var inputFile = $('#{{ form.vars.id }}_file');

            /*var ooleft = dropZone.offset().left;
             var ooright = dropZone.outerWidth() + ooleft;
             var ootop = dropZone.offset().top;
             var oobottom = dropZone.outerHeight() + ootop;*/

            document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
                e.preventDefault();
                e.stopPropagation();
                dropZone.addClass(mouseOverClass);
            }, true);

            document.getElementById(dropZoneId).addEventListener("drop", function (e) {
                $("#" + dropZoneId).removeClass(mouseOverClass);
            }, true);

            $('#fileinput-button{{ form.vars.id }}').on('click', function () {
                inputFile.trigger('click');
            });

            inputFile.on('change', function(e) {
                var files = e.target.files;
                var file = files[0];

                console.log(file);

                //if file type is a image
                if(typeof file.type !== "undefined" ? file.type.match(/^image\/(gif|png|jpeg)$/) : file.name.match(/\.(gif|png|jpe?g)$/i)) {
                    var reader = new FileReader();
                    reader.onload = function (re) {
                        var $img = $('<img>');
                        $img[0].src = re.target.result;
                        $('table.file-upload span.preview').html($img);
                    };
                    reader.readAsDataURL(file);
                } else if(file.type != '') {
                    var type = file.type.replace('/', '-');
                    loadImageExt(type);
                } else {
                    loadImageExt('application-unknown');
                }

                $('table.file-upload p.name').text(file.name);
                $('table.file-upload p.size').text(formatNumber(file.size));
                $('table.file-upload').removeClass('hidden');
            });

            function loadImageExt(type) {
                var $img = $('<img>');
                $img[0].src = '/images/ext/' + type + '.png';
                $('table.file-upload span.preview').html($img);
            }

            function formatNumber (bytes) {
                if (typeof bytes !== 'number') {
                    return '';
                }
                if (bytes >= 1000000000) {
                    return (bytes / 1000000000).toFixed(2) + ' GB';
                }
                if (bytes >= 1000000) {
                    return (bytes / 1000000).toFixed(2) + ' MB';
                }
                return (bytes / 1000).toFixed(2) + ' KB';
            }
        });
    </script>
{% endblock my_file_drag_widget %}

