{#---------------------------------------DATE PICKER--------------------------------------#}
{% block my_date_picker_widget %}
    {% spaceless %}
        {% if wrap_fields_with_addons %}
            <div class="dateSelect">
                {{ block('my_date_picker_widget_html') }}
            </div>
        {% else %}
            {{ block('my_date_picker_widget_html') }}
        {% endif %}
        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ id }}').datetimepicker({{ dp_options|json_encode|raw }});
                $('#btn-calendar-{{ id }}').on('click', function () {
                    $('#{{ id }}').trigger('click');
                });
            });
        </script>
    {% endspaceless %}
{% endblock my_date_picker_widget %}

{% block my_date_picker_widget_html %}
    <div class='input-group date' id='dp_{{ id }}'>
        {% set attr = attr|merge({'data-date-format': moment_format}) %}
        {{ block('date_widget') }}
        <div id="btn-calendar-{{ id }}" class="input-group-addon" style="">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
{% endblock my_date_picker_widget_html %}

{#----------------------------------DATETIME PICKER--------------------------------------#}
{% block my_date_time_picker_widget %}
    {% spaceless %}
        {% if wrap_fields_with_addons %}
            <div class="dateSelect">
                {{ block('my_date_time_picker_widget_html') }}
            </div>
        {% else %}
            {{ block('my_date_time_picker_widget_html') }}
        {% endif %}
        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ id }}').datetimepicker({{ dp_options|json_encode|raw }});
                $('#btn-calendar-{{ id }}').on('click', function () {
                    $('#{{ id }}').trigger('click');
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}


{% block my_date_time_picker_widget_html %}
    {% set moment_format = moment_format|replace({'a': 'A'}) %}
    {% if datepicker_use_button %}
        <div class='input-group date {% if not dp_options['pickDate'] %}timepicker{% endif %}' id='dtp_{{ id }}'>
    {% endif %}
    {% set attr = attr|merge({'data-date-format': moment_format}) %}
    {{ block('datetime_widget') }}
    {% if datepicker_use_button %}
            <span class="input-group-addon">
                <span class="fa {% if dp_options['pickDate'] %}fa-calendar{% else %}fa-clock{% endif %}"></span>
            </span>
        </div>
    {% endif %}
{% endblock %}
