{% extends '@BackEnd/sonata_override/light_layout.html.twig' %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/lib/d3.v2.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/nv.d3.custom.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/src/models/scatter.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/src/models/axis.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/src/models/legend.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/src/models/pie.js') }}"></script>
    <script src="{{ asset('bundles/backend/light-blue/js/nvd3-custom-lb1.0/src/models/pieChartTotal.js') }}"></script>
{% endblock %}

{% block content %}
    {% trans_default_domain 'BackEndBundle' %}

    <div class="col-xs-12">
        <h2 class="page-title">{{ 'dashboard'|trans }} <small>{{ 'statistics.and.more'|trans }}</small></h2>

        {% set patientAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.patient') %}
        {% set taskAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.task') %}
        {% set serviceAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.service') %}
        {% set noteAdmin = sonata_pool.getAdminByAdminCode('worker.bundle.admin.note') %}

        <div class="row">
            {% include '@BackEnd/dashboard_structures/stat.html.twig' with {
                text: 'Total Patients',
                icon: 'fa fa-wheelchair text-info',
                count: d.getRepository('PatientBundle:Patient').findAll()|length,
                href: patientAdmin.generateUrl('list')
            } %}

            {% include '@BackEnd/dashboard_structures/stat.html.twig' with {
                text: 'Pending for Tasks',
                icon: 'glyphicon glyphicon-time text-warning',
                count: d.getRepository('PatientBundle:Patient').getPendingForTasks()|length,
                href: path('show_my_profile', { tab: 'pendingAssignation' })
            } %}

            {% include '@BackEnd/dashboard_structures/stat.html.twig' with {
                text: 'Open Tasks',
                icon: 'glyphicon glyphicon-dashboard text-info',
                count:d.getRepository('PatientBundle:Task').getTasks(app.user, 'open')|length,
                href: taskAdmin.generateUrl('list')
            } %}

            {% include '@BackEnd/dashboard_structures/stat.html.twig' with {
                text: 'Open Services',
                icon: 'glyphicon glyphicon-thumbs-up text-info',
                count:d.getRepository('PatientBundle:Service').getOpenServices(app.user)|length,
                href: serviceAdmin.generateUrl('list', {filter: {status: {type: '', value: 5}}})
            } %}

            {% include '@BackEnd/dashboard_structures/stat.html.twig' with {
                text: 'Unreviewed Services',
                icon: 'glyphicon glyphicon-thumbs-down text-danger',
                count: d.getRepository('PatientBundle:Service').getUnReviewedServices()|length,
                href: serviceAdmin.generateUrl('list')
            } %}

            {% include '@BackEnd/dashboard_structures/stat.html.twig' with {
                text: 'Unreviewed Notes',
                icon: 'fa fa-user-md text-info',
                count: d.getRepository('WorkerBundle:Note').getUnReviewedNotes()|length,
                href: noteAdmin.generateUrl('list')
            } %}
        </div>

        <div class="row">
            <div class="{% if is_granted('ROLE_OPERATION_MANAGER') %}col-lg-8{% else %}col-lg-12{% endif %} col-xs-12">
                {% include '@BackEnd/dashboard_structures/tabs.html.twig' %}
            </div>

            {% if is_granted('ROLE_OPERATION_MANAGER') %}
            <div class="col-lg-4">
                {% include '@BackEnd/dashboard_structures/task_chart.html.twig' %}

                {% include '@BackEnd/dashboard_structures/section_tabs.html.twig' %}
            </div>
            {% endif %}
        </div>

        {% set has_top = false %}
        {% for block in blocks.top %}
            {% if block.roles|length == 0 or is_granted(block.roles) %}
                {% set has_top = true %}
            {% endif %}
        {% endfor %}

        {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': sonata_admin.adminPool }) }}

        {% if has_top %}
            <div class="row">
                {% for block in blocks.top %}
                    {% if block.roles|length == 0 or is_granted(block.roles) %}
                        <div class="{{ block.class }}">
                            {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>


{% endblock %}
