{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% block content %}
    <div class="col-xs-12">
        <section class="widget">
            <header></header>
            <div class="body">
                <div class="sonata-ba-delete">

                    <div class="box box-danger" style="background: none">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'title_delete'|trans({}, 'SonataAdminBundle') }}</h3>
                        </div>
                        <div class="box-body" style="margin-bottom: 10px">
                            {{ 'message_delete_confirmation'|trans({'%object%': admin.toString(object)}, 'SonataAdminBundle') }}
                        </div>
                        <div class="box-footer clearfix">
                            <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">

                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> {{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}</button>
                                {% if admin.hasRoute('edit') and admin.hasAccess('edit', object) %}
                                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                                    <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
