{% extends '@BackEnd/base.html.twig' %}

{%- set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null -%}

{% block stylesheets %}
    {% stylesheets
        'bundles/backend/light-blue/css/application.min.css'
        'bundles/backend/css/layout.css'
        'bundles/backend/css/backend.css'
        filter='?uglifycss' filter='cssrewrite' output='css/backend_compiled.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
        <link rel="stylesheet" href="{{ asset(stylesheet) }}">
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block sonata_javascript_config %}
        <script>
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if sonata_admin.adminPool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                USE_SELECT2: {% if sonata_admin.adminPool.getOption('use_select2') %}true{% else %}false{% endif %},
                USE_ICHECK: {% if sonata_admin.adminPool.getOption('use_icheck') %}true{% else %}false{% endif %},
                USE_STICKYFORMS: {% if sonata_admin.adminPool.getOption('use_stickyforms') %}true{% else %}false{% endif %}
            };

            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };

            // http://getbootstrap.com/getting-started/#support-ie10-width
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style');
                msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
                document.querySelector('head').appendChild(msViewportStyle);
            }

            var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
        </script>
    {% endblock %}

    {% block jquery %}
        <script src="{{ asset('bundles/backend/light-blue/lib/jquery/dist/jquery.min.js') }}"></script>
    {% endblock %}

    {% javascripts
        'bundles/sonataadmin/vendor/jquery.scrollTo/jquery.scrollTo.min.js'
        'bundles/sonatacore/vendor/moment/min/moment.min.js'
        'bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js'
        'bundles/sonataadmin/vendor/jqueryui/ui/minified/i18n/jquery-ui-i18n.min.js'
        'bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js'
        'bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
        'bundles/sonataadmin/vendor/jquery-form/jquery.form.js'
        'bundles/sonataadmin/jquery/jquery.confirmExit.js'
        'bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js'
        'bundles/sonatacore/vendor/select2/select2.min.js'
        'bundles/sonataadmin/vendor/admin-lte/dist/js/app.min.js'
        'bundles/sonataadmin/vendor/iCheck/icheck.min.js'
        'bundles/sonataadmin/vendor/slimScroll/jquery.slimscroll.min.js'
        'bundles/sonataadmin/vendor/waypoints/lib/jquery.waypoints.min.js'
        'bundles/sonataadmin/vendor/waypoints/lib/shortcuts/sticky.min.js'
        'bundles/sonataadmin/Admin.js'
        'bundles/sonataadmin/treeview.js'
        'bundles/sonataadmin/sidebar.js'
        'bundles/backend/light-blue/lib/jquery-pjax/jquery.pjax.js'
        'bundles/backend/light-blue/lib/widgster/widgster.js'
        'bundles/backend/light-blue/lib/underscore/underscore.js'
        'bundles/backend/light-blue/lib/bootstrap-select/dist/js/bootstrap-select.min.js'
        'bundles/backend/light-blue/js/app.js'
        'bundles/backend/light-blue/js/settings.js'
        'bundles/core/plugins/ajaxq.min.js'
        'bundles/core/plugins/loader.min.js'
        'bundles/backend/light-blue/lib/messenger/build/js/messenger.js'
        'bundles/backend/light-blue/lib/messenger/build/js/messenger-theme-flat.js'
        'bundles/backend/light-blue/lib/datatables/media/js/jquery.dataTables.min.js'
        'bundles/backend/light-blue/lib/fullcalendar/dist/fullcalendar.min.js'
        'bundles/backend/light-blue/lib/slimScroll/jquery.slimscroll.min.js'
        'bundles/backend/light-blue/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js'
        'bundles/goswebsocket/js/vendor/autobahn.min.js'
        'bundles/goswebsocket/js/gos_web_socket_client.js'
        'bundles/backend/js/websockect.js'
        'bundles/backend/js/initTemplate.js'
        output='js/backend_compiled.js' filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#'bundles/backend/light-blue/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js'#}

    {% block sonata_javascript_pool %}
        {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
            <script src="{{ asset(javascript) }}"></script>
        {% endfor %}

        {#{{ ws_client() }}#}
        {#<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>#}
        {#<script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>#}
    {% endblock %}

    {# localize moment #}
    {% set localeForMoment = canonicalize_locale_for_moment() %}
    {% if localeForMoment %}
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ localeForMoment ~ '.js') }}"></script>
    {% endif %}

    {# localize select2 #}
    {% if sonata_admin.adminPool.getOption('use_select2') %}
        {% set localeForSelect2 = canonicalize_locale_for_select2() %}
        {% if localeForSelect2 %}
            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ localeForSelect2 ~ '.js') }}"></script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block t %}
    {% block sonata_head_title %}
        {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

        {% if _title is not empty %}
            {{ _title|striptags|raw }}
        {% else %}
            {% if action is defined %}
                -
                {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                    {% if not loop.first %}
                        {% if loop.index != 2 %}
                            &gt;
                        {% endif %}

                        {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                        {%- set label = menu.label -%}
                        {%- if translation_domain is not same as(false) -%}
                            {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                        {%- endif -%}

                        {{ label }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock t %}

{% block body %}
    {% block logo %}
        <div class="logo">
            <h4><a href="{{ path('sonata_admin_dashboard') }}"><strong>Florida Healthcare</strong> System</a> <small> Logged as: {{ app.user.fullname }}</small></h4>
        </div>
    {% endblock logo %}

    {% block sidebar %}
        {% include '@BackEnd/structures/admin/sidebar.html.twig' %}
    {% endblock sidebar %}

    {% block wrap %}
        {% include '@BackEnd/structures/admin/wrap.html.twig' %}
    {% endblock wrap %}

    <footer style="text-align: center;">
        2019 &copy; Florida Healthcare System.
    </footer>

    {% if sonata_admin.adminPool.getOption('use_bootlint') %}
        {% block bootlint %}
            {# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
            <script type="text/javascript">
                javascript:(function(){var s=document.createElement("script");s.onload=function(){bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});};s.src="https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";document.body.appendChild(s)})();
            </script>
        {% endblock %}
    {% endif %}

    {% block init_js_custom %}
        {#<script src="{{ asset('bundles/backend/js/websockect.js') }}"></script>#}
        {#<script src="{{ asset('bundles/backend/js/initTemplate.js') }}"></script>#}

        <script type="text/javascript">
            var urlReadNotifications = '{{ path('read_notifications') }}';

            $(document).ready(function () {
                initTemplate();

                socketConnect();
                setIntervalReconnectWS(20000);

                flashMessages();

                //Notification subscribe
                $(window).on('onSocketConnect', function (evt) {
                    var session =  evt.state;
                    session.subscribe("notification/{{ app.user.id }}", function(uri, payload){
                        //Create a event to notify that notification arrive.
                        var evt = $.Event('onNotification');
                        evt.state = payload;
                        $(window).trigger(evt);

                        console.log(uri + ": ", payload);
                        checkNotifications();
                    });
                });
            });

            function checkNotifications() {
                var url = '{{ path('notifications_unseen_json') }}';
                $.postq('main', url, function (notifications) {
                    notifications.forEach(function (notification) {
                        var options = {
                            message: notification.msg,
                            type: notification.type,
                            showCloseButton: true
                        };
                        if(notification.url != undefined){
                            options['actions'] = {
                                cancel: {
                                    label: 'Go to',
                                    action: function() {
                                        window.location.href = notification.url;
                                    }
                                }
                            };
                        }
                        options['hideAfter'] = 8;
                        if(notification.important){
                            options['hideAfter'] = 15;
                            options['message'] = '<b>!!!</b> ' + notification.msg;
                        }
                        Messenger().post(options);
                    });
                });

                url = '{{ path('render_notifications') }}';
                $.getq('main', url, function (html) {
                    $('#notifications').html(html);
                });
            }

            function flashMessages() {
                {% for type in sonata_flashmessages_types() %}
                    {% set domain = 'BackEndBundle' %}
                    {% for message in sonata_flashmessages_get(type, domain) %}
                        {% if type != 'success' %}{% set type = 'error' %}{% endif %}
                        Messenger().post({
                            message: '{{ message|raw }}',
                            type: '{{ type }}',
                            showCloseButton: true,
                            hideAfter: 15
                        });
                    {% endfor %}
                {% endfor %}
            }
        </script>
    {% endblock %}

{% endblock %}