{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% for object in admin.datagrid.results %}
    <tr {% if loop.first %} class="first-element-list" {% endif %} data-id="{{ object.id }}" {% if admin.hasRoute('show') %}data-url="{{ admin.generateObjectUrl('show', object) }}"{% endif %}>
        {% include get_admin_template('inner_list_row', admin.code) %}
    </tr>
{% endfor %}
