<script type="text/javascript">
    $(document).ready(function () {
        {% for error in form.vars.errors %}
            Messenger().post({
                message: '{{ error.message }}',
                type: 'error',
                showCloseButton: true
            });
        {% endfor %}
    });
</script>