{% extends 'knp_menu.html.twig' %}

{% block root %}
    {%- set listAttributes = item.childrenAttributes|merge({'class': 'side-nav', 'id': 'side-nav'}) %}
    {%- set request = item.extra('request') ?: app.request %}
    {{ block('list') -}}
{% endblock %}

{% block item %}
    {%- if item.displayed %}
        {#- check role of the group #}
        {%- set display = (item.extra('roles') is empty or is_granted(sonata_admin.adminPool.getOption('role_super_admin')) ) %}
        {%- for role in item.extra('roles') if not display %}
            {%- set display = is_granted(role) %}
        {%- endfor %}
    {%- endif %}

    {%- if item.displayed and display|default %}
        {% set options = options|merge({branch_class: 'panel', currentClass: "active", ancestorClass: "active"}) %}
        {#{%- do item.setChildrenAttribute('class', (item.childrenAttribute('class')~' active')|trim) %}#}

        {%- do item.setChildrenAttribute('class', (item.childrenAttribute('class')~' panel-collapse collapse')|trim) %}
        {%- do item.setChildrenAttribute('id', item.name|trim) %}

        {% if matcher.isAncestor(item, options.matchingDepth) %}
            {%- do item.setChildrenAttribute('class', (item.childrenAttribute('class')~' in')|trim) %}
        {% endif %}

        {{ parent() }}
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% spaceless %}
        {% set translation_domain = item.extra('label_catalogue', 'messages') %}
        {#{% if item.extra('on_top') is defined and not item.extra('on_top') %}
            {% set icon = item.extra('icon')|default(item.level > 1 ? '<i class="fa fa-angle-double-right" aria-hidden="true"></i>' : '') %}
        {% else %}
            {% set icon = item.extra('icon') %}
        {% endif %}#}
        {% set icon = item.extra('icon') %}
        {% set is_link = true %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block spanElement %}
    {% spaceless %}
        <a href="#{{ item.name }}" class="accordion-toggle {% if not matcher.isAncestor(item, options.matchingDepth) %}collapsed{% endif %}" data-toggle="collapse" data-parent="#side-nav">
            {% set translation_domain = item.extra('label_catalogue') %}
            {% set icon = item.extra('icon')|default('') %}
            {{ icon|raw }}
            {{ parent() }}
            {#{%- if item.extra('keep_open') is not defined or not item.extra('keep_open') -%}
                <span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span>
            {%- endif -%}#}
        </a>
    {% endspaceless %}
{% endblock %}

{% block label %}
    {% if is_link is defined and is_link %}
        {{ icon|default|raw }}
    {% endif %}

    {% set admin = item.extra('admin') %}

    {% if options.allow_safe_labels and item.extra('safe_label', false) %}
        {{ item.label|raw }}
    {% elseif admin is not null and admin.customLabelMenu %}
        {{ admin.customLabelMenu|trans({}, translation_domain|default('BackEndBundle')) }}
    {% else %}
        {{ item.label|trans({}, translation_domain|default('messages')) }}
    {% endif %}


    {% if item.extra('admin') is not null %}
        {% set admin = item.extra('admin') %}
        {% if admin.hasAccess('create') and admin.hasRoute('create') and admin.createRoute %}
            <strong class="addNewElement" data-url="{{ admin.generateUrl('create') }}">(+)</strong>
        {% endif %}
    {% endif %}
{% endblock %}
