<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-clinic.ico') }}" />

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        <title>{% block t %}Florida Healthcare System{% endblock t %}</title>

        <script>
            /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
             chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
             https://code.google.com/p/chromium/issues/detail?id=332189
             */
        </script>

        {#Dont delete this empty script tag#}
        <script></script>
    </head>

    <body>
        <div id="my-loader-background" class="hidden"></div>
        <div id="my-loader" class="hidden"></div>
        {% block body %}{% endblock %}

        {% block template %}
            {% include '@BackEnd/structures/code_template.html.twig'  %}
        {% endblock %}
    </body>
</html>