{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            console.log('Create/Edit Custom EOP');
            var billingId = '{{ app.request.query.get('billingId') }}';
            if(billingId){
                var $billingSelect = $("#{{ admin.uniqId }}_billingRegistry");
                $billingSelect.select2("val", [billingId]);
                $billingSelect.select2("readonly", true);
            }
        });
    </script>
{% endblock %}