{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var workerSelect = $("#{{ admin.uniqId }}_worker");
            workerSelect.change(updateServices()); // Bind the function to updateCategories
            workerSelect.change(); // Manual trigger to update categories in Document load.

            function updateServices(){
                return function () {
                    var workerId = $("#{{ admin.uniqId }}_worker option:selected").val();

                    var servicesSelect = $("#{{ admin.uniqId }}_serviceParent");
                    {% if admin.subject.id is null %}
                        servicesSelect.empty();
                        servicesSelect.trigger("chosen:updated");
                        servicesSelect.select2("val", "");
                    {% endif %}

                    if(workerId != ''){
                        var url = '{{ path('ajax_services_by_worker', { workerId: 0 }) }}' + workerId;
                        showLoader();
                        $.post(url, null, function(data){
                            servicesSelect.empty().append(data);
                            servicesSelect.trigger("chosen:updated");
                            hideLoader();
                        },"text");
                        servicesSelect.val("option:first").attr("selected", true);
                    }
                };
            }
        });
    </script>
{% endblock %}