{% if not object.currentDiagnosis %}
    <a href="{{ path('set_current_diagnosis', { id: object.id }) }}" class="btn btn-sm btn-default delete_link" title="Set Current">
        <span class="glyphicon glyphicon-ok"></span> Set current
    </a>
{% endif %}