{% trans_default_domain 'BackEndBundle' %}

<header class="page-header">
    <div class="navbar">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li class="visible-phone-landscape">
                <a href="#" id="search-toggle">
                    <i class="fa fa-search"></i>
                </a>
            </li>

            <li class="dropdown" id="notifications">
                {# ajax call notifications go here #}
            </li>

            {#{% set taskAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.task') %}
            {% set openTasks = d.getRepository('PatientBundle:Task').getTasks(app.user, 'open') %}
            {% set countOpenTasks = d.getRepository('PatientBundle:Task').getTasks(app.user, 'open', null, true) %}
            {% if countOpenTasks > 0 and is_granted('ROLE_SERVICE_WORKER') %}
                <li class="dropdown">
                    <a href="#" title="Open tasks" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-clock-o"></i>
                        <span class="count">{{ countOpenTasks }}</span>
                    </a>
                    <ul id="support-menu" class="dropdown-menu support" role="menu">
                        {% for task in openTasks %}
                            <li role="presentation">
                                <a href="{{ taskAdmin.generateObjectUrl('show', task) }}" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-info"><i class="fa fa-tag"></i></span>
                                    </div>
                                    <div class="details">
                                        Task {{ task.id }}: {{ task.serviceParent.name }}
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        <li role="presentation">
                            <a href="{{ taskAdmin.generateUrl('list') }}" class="text-align-center see-all">
                                See all tasks <i class="fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}#}

            {% set serviceAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.service') %}
            {% set openServices = d.getRepository('PatientBundle:Service').getOpenServices(app.user) %}
            {% if is_granted('ROLE_SERVICE_WORKER') %}
                <li class="dropdown">
                    <a href="{{ serviceAdmin.generateUrl('list') }}" class="">
                        <i title="Service Records" class="fa fa-stethoscope"></i>
                        <span title="Open Services" class="count">{{ openServices|length }}</span>
                    </a>
                </li>
            {% endif %}

            <li class="divider"></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="glyphicon glyphicon-th-list"></i>
                </a>
                {% include get_global_template('add_block') %}
            </li>

            <li class="hidden-xs dropdown">
                <a href="#" title="Account" id="account" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                </a>

                <ul id="account-menu" class="dropdown-menu account" role="menu">
                    <li role="presentation" class="account-picture">
                        <img src="{{ app.user.avatar }}" alt="Avatar">
                        {{ app.user.fullname }}
                    </li>
                    <li role="presentation">
                        <a href="{{ path('show_user', { id: app.user.id }) }}" class="link">
                            <i class="fa fa-user"></i> Profile
                        </a>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li role="presentation">
                            <a href="{{ path('sonata_admin_dashboard', {'_change_user': '_exit'}) }}" class="link">
                                <i class="fa fa-reply"></i> {{ 'exit.impersonation'|trans({}, 'BackEndBundle') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            <li class="visible-xs">
                <a href="#"
                   class="btn-navbar"
                   data-toggle="collapse"
                   data-target=".sidebar"
                   title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>

            <li class="hidden-xs" title="{{ 'logout'|trans }}">
                <a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i></a>
            </li>
        </ul>

        {% if sonata_admin.adminPool.getOption('search') %}
            <form id="search-form" class="navbar-form pull-right" role="search" action="{{ path('sonata_admin_search') }}" method="GET">
                <input type="search" name="q" class="form-control search-query" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}..." value="{{ app.request.get('q') }}">
            </form>
        {% endif %}

        {#Always be one notifications#}
        {#{% set lastImportant = container.get('doctrine').getRepository('CoreBundle:Notification').getLastNotificationImportant(app.user) %}
        {% for last in lastImportant %}
            <div class="notifications pull-right">
                <div class="alert pull-right">
                    #}{#<a href="#" class="close ml-xs" data-dismiss="alert">&times;</a>#}{#
                    <i class="fa fa-info-circle mr-xs text-warning"></i>
                    <a href="{{ last.url }}">{{ last.msg }}</a>
                </div>
            </div>
        {% endfor %}#}
    </div>
</header>
