{% trans_default_domain 'BackEndBundle' %}

<a href="#" title="{{ notifications|length }} {{ 'notifications'|trans }}" class="dropdown-toggle notification" data-toggle="dropdown">
    <i class="fa fa-bell"></i>
    {% if hasUnread %}
        <span class="count red">{{ amountNonRead }}</span>
    {% endif %}
</a>

<ul id="support-menu" class="dropdown-menu support" role="menu" style="min-width: 240px;">
    {% for notification in notifications %}
        <li role="presentation">
            <a {% if notification.url is not null %}href="{{ notification.url }}"{% endif %} class="support-ticket">
                <div class="picture">
                    {% if notification.important %}
                        <span class="label label-important"><i class="fa fa-bell-o"></i></span>
                    {% else %}
                        <span class="label label-success"><i class="fa fa-send"></i></span>
                    {% endif %}
                </div>
                <div class="details" style="padding-top: 2px">
                    {% if not notification.read %}
                        <strong>{{ notification.msg }}</strong>
                        <sup class="text-danger fw-bold">{{ 'notification.new'|trans|upper }}</sup>
                    {% else %}
                        {{ notification.msg }}
                    {% endif %}
                    {% if notification.important %}
                        <sup class="text-danger fw-bold">! ! !</sup>
                    {% endif %}
                </div>
            </a>
        </li>
    {% endfor %}

    <li role="presentation">
        <a href="{{ path('show_my_profile', {tab: 'mNotifications'}) }}" class="text-align-center see-all">{{ 'notification.all'|trans }} <i class="fa fa-arrow-right"></i></a>
    </li>
</ul>

<script type="text/javascript">
    $(function () {
        $('a.dropdown-toggle.notification').dropdown();
    })
</script>