    <nav id="sidebar" class="sidebar nav-collapse collapse">
    {{ knp_menu_render('sonata_admin_sidebar', {template: get_global_template('knp_menu_template')}) }}

    {#<h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a>
    </h5>
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <ul class="sidebar-labels">
        <li>
            <a href="#">
                <!-- yep, .circle again -->
                <i class="fa fa-circle text-warning"></i>
                <span class="label-name">Patients</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-info"></i>
                <span class="label-name">Workers</span>
            </a>
        </li>
    </ul>#}
</nav>