<div class="wrap">
    {% block header %}
        {% include '@BackEnd/structures/admin/header.html.twig' %}
    {% endblock header %}

    <div class="content container">
        {#{% if _content is not empty %}
            {{ _content|raw }}
        {% endif %}#}

        {% block sonata_page_content %}
            <div class="row">
                {% block sonata_page_content_header %}
                    {% block sonata_page_content_nav %}
                        {% if _navbar_title is not empty or _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                            <div class="col-xs-12">
                                <section class="widget" style="min-height: 41px">
                                    <header>
                                        <h3 class="page-title-widget">
                                            {% block page_title_widget %}
                                                {% if _list_table is not empty %}
                                                    {{ 'list.of'|trans({}, 'BackEndBundle') }} {{ admin.label|trans({}, admin.translationDomain) }}
                                                {% elseif _show is not empty %}
                                                    {#{{ 'show'|trans({}, 'BackEndBundle') }} {{ admin.label|trans({}, admin.translationDomain) }}#}
                                                    {{ 'show'|trans({}, 'BackEndBundle') }} {{ admin.toString(object) }}
                                                {% elseif _navbar_title is not empty %}
                                                    {{ _navbar_title|raw }}
                                                {% endif %}
                                            {% endblock %}
                                        </h3>
                                        <div class="widget-controls">
                                            {% block sonata_admin_content_actions_wrappers %}
                                                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                    <ul class="nav navbar-nav navbar-right">
                                                        {% if _actions|split('</a>')|length > 2 %}
                                                            <li class="dropdown sonata-actions">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    {{ _actions|raw }}
                                                                </ul>
                                                            </li>
                                                        {% else %}
                                                            {{ _actions|raw }}
                                                        {% endif %}
                                                    </ul>
                                                {% endif %}
                                            {% endblock sonata_admin_content_actions_wrappers %}

                                            {% if _list_filters_actions is not empty %}
                                                {{ _list_filters_actions|raw }}
                                            {% endif %}
                                        </div>
                                    </header>
                                </section>
                            </div>
                        {% endif %}
                    {% endblock sonata_page_content_nav %}
                {% endblock sonata_page_content_header %}

                {% block sonata_admin_content %}
                    {#{% block notice %}
                        {% include '@SonataCore/FlashMessage/render.html.twig' %}
                    {% endblock notice %}#}

                    {% if _preview is not empty %}
                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                    {% endif %}

                    {% if _content is not empty %}
                        {{ _content|raw }}
                    {% endif %}

                    {% if _show is not empty %}
                        <div class="sonata-ba-show col-md-12">{{ _show|raw }}</div>
                    {% endif %}

                    {% if _form is not empty %}
                        {#<div class="sonata-ba-form">{{ _form|raw }}</div>#}
                        {{ _form|raw }}
                    {% endif %}

                    {% if _list_filters is not empty %}
                        {{ _list_filters|raw }}
                    {% endif %}

                    {% if _list_table is not empty %}
                        {{ _list_table|raw }}
                    {% endif %}
                {% endblock sonata_admin_content %}
            </div>
        {% endblock sonata_page_content %}
    </div>

    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>