{% if is_granted('ROLE_SUPER_ADMIN') and object.username != app.user.username and app.user.username == 'admin' %}
    <a href="{{ path('sonata_admin_dashboard', {'_change_user': object.username}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'impersonate'|trans({}, 'BackEndBundle') }}">
        <i class="fa fa-random" aria-hidden="true"></i> {#{{ 'impersonate'|trans({}, 'BackEndBundle') }}#}
    </a>
{% endif %}