<section class="widget">
    <div class="body">
        <div class="row">
        <div class="col-sm-12">
                <div class="text-align-center">
                     <img class="img-circle" src="{{ asset(user.avatar)}}" alt="64x64" style="height: 112px;">
                </div>
            </div>
            <div class="col-sm-12">                
                <address>  
                    <h3 class="mt-sm mb-xs">{{ user.fullname }}</h3>
                    {% set result = ''  %}
                    {% for role in user.roles %}
                        {% if role != 'ROLE_USER' %}
                            {% set result = result ~ role|trans({}, 'BackEndBundle')  %}
                            {% if loop.index != loop.last %} {% set result = result ~ ' ' %}{% endif %}
                        {% endif %}
                    {% endfor %}<br/>
                    {% import '@BackEnd/structures/macro.html.twig' as macro %}
                    {{ macro.showCopyField('general.roles'|trans({}, 'BackEndBundle'), result, 'roles') }}
                    {{ macro.showCopyField('general.username'|trans({}, 'BackEndBundle'), user.username, 'username') }}
                    {{ macro.showCopyField('general.name'|trans({}, 'BackEndBundle'), user.name, 'name') }}
                    {{ macro.showCopyField('general.lastname'|trans({}, 'BackEndBundle'), user.lastname, 'lastname') }}
                    {{ macro.showCopyField('general.phone'|trans({}, 'BackEndBundle'), user.phone, 'phone') }}
                    {{ macro.showCopyField('general.email'|trans({}, 'BackEndBundle'), user.email, 'email') }}
                    {{ macro.showCopyField('general.address'|trans({}, 'BackEndBundle'), user.address, 'address') }}
                    {{ macro.showCopyField('general.social.number'|trans({}, 'BackEndBundle'), user.socialNumber, 'socialnumber') }}
                    {{ macro.showCopyField('form.user.residence'|trans({}, 'BackEndBundle'), user.residence ? 'Yes' : 'No', 'residence') }}
                    {{ macro.showCopyField('form.user.citizenship'|trans({}, 'BackEndBundle'), user.citizenship ? 'Yes' : 'No', 'citizenship') }}
                    {{ macro.showCopyField('form.user.drive.licence'|trans({}, 'BackEndBundle'), user.driveLicence, 'licence') }}
                </address>
            </div>
        </div>
    </div>
</section>