{% extends '@BackEnd/sonata_override/light_layout.html.twig' %}

{% block t %}{{ 'patient.profile'|trans({}, 'BackEndBundle') }}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="page-title">
            {{ 'menu.entity.user'|trans({}, 'BackEndBundle') }}
            <a href="{{ path('show_user', {id: user.id}) }}"><small>{{ 'profile'|trans({}, 'BackEndBundle') }}</small></a>
        </h2>

        <div class="row">
            <div class="col-md-3 col-xs-12">
                {% include '@BackEnd/custom/worker/show/info.html.twig' %}
            </div>

            {% block aditional_content %}
                <div class="col-md-9">
                    {% include '@BackEnd/custom/worker/show/tabs.html.twig' %}
                </div>
            {% endblock %}
        </div>

        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('sidebar').parentNode.removeChild(document.getElementById('sidebar'));
            $('div.wrap').addClass('margin-left-0');

            //Fix Tabs and Data tables
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                $('#calendar').fullCalendar('render');
            });

            {% if app.request.query.has('tab') %}
                $('a[href="#{{ app.request.query.get('tab') }}"]').tab('show');
            {% endif %}
        });
    </script>
{% endblock %}