<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Insurances</th>
        <th>Diagnosis</th>
        <th>Active Authorizations</th>
    </tr>
    </thead>

    <tbody>
    {% for p in patientsHistory %}
        <tr>
            <td>
                <a href="{{ path('show_patient', {id: p.id}) }}">{{ p.fullname }}</a>
            </td>
            <td>
                {% if p.medicare %}
                    <p class="no-margin">
                        <small>
                            <span class="fw-semi-bold">Medicare:</span>
                            <span class="text-muted">&nbsp; {{ p.medicare.hmo }}</span>
                        </small>
                    </p>
                {% endif %}

                {% if p.medicaid %}
                    <p>
                        <small>
                            <span class="fw-semi-bold">Medicaid:</span>
                            <span class="text-muted">&nbsp; {{ p.medicaid.hmo }}</span>
                        </small>
                    </p>
                {% endif %}
            </td>
            <td>{{ p.diagnosisString }}</td>
            <td>
                {% set thereAre = '0' %}
                {% for auth in p.authorizations %}
                    <div class="key pull-right">{% for sc in auth.serviceCodes %}[{{ sc }}] {% endfor %}</div>
                    <div class="stat" title="Unique Code: {{ auth.id }} ({{ auth.beginDate|date('M d, Y') }} - {{ auth.endDate|date('M d, Y') }})">
                        <div class="info">{{ auth.unitsConsumed }} / {{ auth.unitsApproved }} units</div>
                        <div class="progress progress-small" style="width: 170px">
                            <div class="progress-bar {% if auth.percent > 50 and auth.percent < 80%}progress-bar-warning{% endif %} {% if auth.percent >= 80%}progress-bar-danger{% endif %}" style="width: {{ auth.percent }}%;"></div>
                        </div>
                    </div>
                    {% set thereAre = '1' %}
                {% endfor %}
                {% if thereAre == '0' %}
                    <p style="margin-top: 10px">
                        <span class="">No authorizations active</span>
                    </p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
