<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Service Name</th>
        <th>Service Code</th>
        <th>Patients Name</th>
        <th>Diagnosis</th>
        <th>Hmo</th>
        <th>Service Date</th>
        <th>Units</th>
    </tr>
    </thead>

    <tbody>
    {% set serviceAdmin = sonata_pool.getAdminByAdminCode('patient.bundle.admin.service') %}
    {% for s in serviceHistory %}
        <tr>
            <td>
                <a href="{{ serviceAdmin.generateObjectUrl('show', s) }}">{{ s.serviceParent.name }}</a>
            </td>
            <td>
                {{ s.fullServiceCode }}
            </td>
            <td>
                <a href="{{ path('show_patient', {id: s.patient.id}) }}">{{ s.patient.fullName }}</a>
            </td>
            <td>{{ s.patient.diagnosisString }}</td>
            <td>{{ s.hmo }}</td>
            <td>{{ s.serviceDate|date('M d, Y') }}</td>
            <td>{{ s.unitsUsed }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
