<div class="mt">
    <table class="table table-striped table-hover datatable-jquery">
        <thead>
        <tr>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
        </tr>
        </thead>

        <tbody>
        {% for notification in notifications %}
            {% if notification.important %}
                {% set class = 'border-bottom: solid 3px #db4912;' %}
            {% else %}
                {% set class = 'border-bottom: solid 3px #4ebfbb;' %}
            {% endif %}
            {% if notification.read %}
                {% set note = 'open.png' %}
            {% else %}
                {% set note = 'close.png' %}
            {% endif %}
            <tr>
                <td>
                    <a class="cursor-pointer" href="{{ notification.url }}" style="{{class}} text-decoration: none; color: white;">
                        <img src="{{ asset('/images/assets/'~note)}}" alt="{{note}}" style="height: 20px; margin: 5px;"><strong>{{ notification.msg }}</strong>
                    </a>
                </td>

                <td class="width-150">
                    <small>
                        <span class="fw-semi-bold">{{ 'form.patient.read'|trans({}, 'BackEndBundle') }}:</span>&nbsp; {{ notification.read|toString }}
                    </small><br>
                    <small>
                        <span class="fw-semi-bold">{{ 'notification.important'|trans({}, 'BackEndBundle') }}:</span>&nbsp; {{ notification.important|toString }}
                    </small>
                </td>

                <td>
                    <span class="fw-semi-bold">{{ notification.createdAt|date('m/d/Y') }}</span><br/>
                    ({{ notification.createdAt|ago }})
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>