{#
{% if is_granted('ROLE_OPERATION_MANAGER') %}
    {% set adminRpd = sonata_pool.getAdminByAdminCode('patient.bundle.admin.registry.patient.doctor') %}
    <h4 style="text-align: right">
        <a href="{{ adminRpd.generateUrl('list') }}">
            Go to Admin
        </a>
    </h4>
{% endif %}
<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Code</th>
        <th>Created At</th>
        <th>Patient</th>
        <th>Assigned By</th>
        <th>Task</th>
        <th>Status</th>
        <th class="no-sort"></th>
    </tr>
    </thead>

    <tbody>
    {% for rpd in pendingOrders %}
        <tr>
            <td><span class="label label-inverse">{{ rpd.id }}</span></td>
            <td>{{ rpd.createdAt|date('M d, Y') }}</td>
            <td>
                <a href="{{ path('show_patient', { id: rpd.patient.id }) }}">
                    {{ rpd.patient.fullname }}
                </a>
            </td>
            <td>
                {{ rpd.responsible }}
            </td>
            <td>
                <span class="label label-inverse">{{ rpd.action|trans({}, 'BackEndBundle') }}</span>
            </td>
            <td><span class="label label-{% if rpd.status == 'open' %}warning{% else %}success{% endif %}">{{ rpd.status }}</span></td>
            <td>
                {% if rpd.status == 'open' and rpd.worker.id == app.user.id %}
                    <a class="btn btn-default" href="{{ path('close_order', {id: rpd.id}) }}">Close Task</a>
                {% endif %}

                {% set adminPatient = sonata_pool.getAdminByAdminCode('patient.bundle.admin.patient') %}
                {% if rpd.status == 'close' and rpd.responsible.id == app.user.id and is_granted('ROLE_OPERATION_MANAGER') and rpd.patient.patientStatus == 'nom.patient.status.type.open' %}
                    <a class="btn btn-default" href="{{ adminPatient.generateUrl('patient.bundle.admin.patient|patient.bundle.admin.registry.patient.doctor.create', {id: rpd.patient.id, r: absolute_url(path('show_my_profile', {tab:'orders'}))}) }}">
                        Add task
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>#}
