<h4>Patients pending for assignation of assessment:</h4>
<table class="table table-striped table-hover datatable-jquery">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Intake Type</th>
        <th>Insurances</th>
        <th>Amount Diagnosis</th>
        <th>Created At</th>
        <th class="no-sort"></th>
    </tr>
    </thead>

    <tbody>
    {% for p in pendingAssessment %}
        <tr>
            <td>
                <a href="{{ path('show_patient', {id: p.id}) }}">{{ p.fullname }}</a>
                {#<a href="{{ sonata_pool.getAdminByAdminCode('patient.bundle.admin.patient').generateUrl('patient.bundle.admin.registry.patient.doctor.create', {id: p.id, r: absolute_url(path('show_my_profile', {tab:'pendingAssignation'}))}) }}">
                    {{ p.fullname }}
                </a>
                (<a href="{{ sonata_pool.getAdminByAdminCode('patient.bundle.admin.patient').generateUrl('patient.bundle.admin.registry.patient.doctor.list', {id: p.id }) }}">
                    See all orders
                </a>)#}
            </td>
            <td>
                {% for it in p.intakeTypes %}
                    <span class="label label-inverse">{{ it|trans({}, 'BackEndBundle') }}</span>
                {% endfor %}
            </td>
            <td>
                {% if p.medicare %}
                    <p class="no-margin">
                        <small>
                            <span class="fw-semi-bold">Medicare:</span>
                            <span class="text-muted">&nbsp; {{ p.medicare.hmo }}</span>
                        </small>
                    </p>
                {% endif %}

                {% if p.medicaid %}
                    <p>
                        <small>
                            <span class="fw-semi-bold">Medicaid:</span>
                            <span class="text-muted">&nbsp; {{ p.medicaid.hmo }}</span>
                        </small>
                    </p>
                {% endif %}
            </td>
            <td>{{ p.diagnosisEntrys|length }}</td>
            <td>{{ p.createdAt|date('M d, Y') }}</td>
            <td style="text-align: center">
                <a href="{{ sonata_pool.getAdminByAdminCode('patient.bundle.admin.patient').generateUrl('patient.bundle.admin.task.create', {id: p.id, r: absolute_url(path('show_my_profile', {tab:'pendingAssignation'}))}) }}" class="btn btn-primary">
                    Add task
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
