<section class="widget" {#style="min-height: 660px"#}>
    <div class="body" id="section-table-container">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#calendarDoctor" data-toggle="tab">Calendar</a></li>

            {% if isMyProfile %}
                <li><a href="#mNotifications" data-toggle="tab">{{ 'notifications'|trans({}, 'BackEndBundle') }}</a></li>
            {% endif %}

            {% if isMyProfile and is_granted('ROLE_OPERATION_MANAGER') %}
                <li><a href="#pendingAssignation" data-toggle="tab">Pending for task assignation <strong>({{ pendingAssessment|length }})</strong></a></li>
            {% endif %}

            {% if user.isServiceWorker %}
                <li><a href="#actualPatients" data-toggle="tab">Actual Patients</a></li>

                <li><a href="#patientsHistory" data-toggle="tab">Patients History</a></li>

                <li><a href="#serviceHistory" data-toggle="tab">Service History</a></li>
            {% endif %}
        </ul>

        <div id="myTabContent" class="tab-content" >
            <div class="tab-pane fade in active" id="calendarDoctor">
                {% include '@BackEnd/custom/worker/show/tab_calendar_doctor.html.twig' %}
            </div>

            {% if isMyProfile %}
                <div class="tab-pane fade" id="mNotifications">
                    {% include '@BackEnd/custom/worker/show/tab_notification.html.twig' %}
                </div>
            {% endif %}

            {% if isMyProfile and is_granted('ROLE_OPERATION_MANAGER') %}
                <div class="tab-pane fade" id="pendingAssignation">
                    {% include '@BackEnd/custom/worker/show/tab_pending_patients.html.twig' %}
                </div>
            {% endif %}

            {% if isMyProfile and is_granted('ROLE_SERVICE_WORKER') %}
                <div class="tab-pane fade" id="orders">
                    {% include '@BackEnd/custom/worker/show/tab_pending_orders.html.twig' %}
                </div>
            {% endif %}

            {% if user.isServiceWorker %}
                <div class="tab-pane fade" id="actualPatients">
                    {% include '@BackEnd/custom/worker/show/tab_actual_patients.html.twig' %}
                </div>

                <div class="tab-pane fade" id="patientsHistory">
                    {% include '@BackEnd/custom/worker/show/tab_patients_histoty.html.twig' %}
                </div>

                <div class="tab-pane fade" id="serviceHistory">
                    {% include '@BackEnd/custom/worker/show/tab_service_histoty.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
</section>