{% extends '@BackEnd/custom/patient/show/show_patient.html.twig' %}

{% block aditional_content %}
    <div class="col-md-10 col-xs-12 padding-right-0">
        <section class="widget">
            <header><h4>Add service {{ serviceParent.name }} to patient</h4></header>
            <div class="body">
                {{ form(form) }}
            </div>
        </section>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var dischargeCheckBox = $("#service_type_discharge");
            dischargeCheckBox.change(a()); // Bind the function to updateCategories

            function a(){
                return function () {
                    var formsSelect = $("#service_type_pdfForms");
                    if($(this).is(':checked')) {
                        formsSelect.select2("val", [1, 2]);
                        formsSelect.select2("readonly", true);
                    }
                    else {
                        formsSelect.select2("val", []);
                        formsSelect.select2("readonly", false);
                    }
                };
            }
        });
    </script>
    {{ parent() }}
{% endblock %}