<div id="" class="myScroll" data-h="160">
    <div class="wrapper">
        {% for row in services %}
            <section class="feed-item">
                <div class="icon pull-left" title="{{ row.tip }}">
                    {% if row.valid == 'ok' %}
                        <i class="fa fa-check color-green"></i>
                    {% elseif row.valid == 'warning' %}
                        <i class="fa fa-warning color-orange" style="margin-left: 2px;"></i>
                    {% else %}
                        <i class="fa fa-times color-red" style="margin-left: 2px;"></i>
                    {% endif %}
                </div>
                <div class="feed-item-body">
                    <div class="text" title="{{ row.tip }}">
                        {% if row.valid != 'invalid' %}
                            <a href="{{ path('add_service_patient', {idPatient: patient.id, idServiceParent: row.service.id}) }}">{{ row.service }}</a>.
                        {% else %}
                            {{ row.service }}.
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endfor %}

        {% if services|length == 0 %}
            <p class="text-align-center" style="margin-top: 50px">
                <span class="">No service found for you role in this category.</span>
            </p>
        {% endif %}
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        initSlimScroll();
    });
</script>