{% import '@BackEnd/structures/macro.html.twig' as macro %}
<div class="row">
    <div class="col-sm-12">
        <div class="col-md-12 col-xs-12">
            <h3 class="mt-sm mb-xs">Service {{ service.serviceParent.name }} ({{ service.presence|trans({}, 'BackEndBundle') }})</h3>
            <address style="margin-top: 20px">
                {{ macro.showCopyField('general.code'|trans({}, 'BackEndBundle'), service.serviceParent.code, 'code') }}
                {{ macro.showCopyField('Service Type', service.serviceParent.type|trans({}, 'BackEndBundle'), 'type') }}
                {{ macro.showCopyField('Worker', service.worker, 'worker') }}
                {{ macro.showCopyField('Scheduled Start', service.scheduleStart|date('M d, Y, h:i a'), 'ss') }}
                {{ macro.showCopyField('Scheduled End', service.scheduleEnd|date('M d, Y, h:i a'), 'se') }}
                {{ macro.showCopyField('Duration', service.getServiceDurationMin() ~ ' min', 'duration') }}
                {{ macro.showCopyField('Status', service.status.name|trans({}, 'BackEndBundle'), 'status') }}
            </address>

            {% if service.forms|length > 0 %}
                <h3 class="mt-sm mb-xs" style="margin-top: 40px">Associate Forms</h3>
                <div class="col-xs-12" style="padding-left: 0">
                    <ul class="nav nav-pills nav-stacked search-result-categories mt">
                        {% for serviceForm in service.forms %}
                            <li>
                                {% if service.worker.id == app.user.id %}
                                    {% set path = path('service_form_viewer', { idServiceForm: serviceForm.id })  %}
                                {% else %}
                                    {% set path = asset(serviceForm.fullPath)  %}
                                {% endif %}
                                <a target="_blank" href="{{ path }}" style="color: #000000">
                                    {{ serviceForm.name }} {% if not serviceForm.filled %}<span style="color: #f0af03">(Not Filled)</span>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>