Forms:
<div class="col-xs-12">
    {% for serviceForm in service.forms %}
        <a href="{{ path('show_service_form', { idForm: serviceForm.id }) }}">
            <span class="label label-danger">{{ serviceForm.name }}</span>
        </a>
    {% endfor %}
</div>